[2015-11-06 21:26] mtaylorlong commented on #245
I've outlined my thoughts on how our parks db should be set up in this document: https://github.com/nationalparkservice/places-data/blob/gh-pages/boundaries/database_structure.md

[2015-11-06 21:37] jimmyrocks commented on #245
This is great! thanks!

On Fri, Nov 6, 2015 at 4:26 PM, Taylor Long notifications@github.com
wrote:

[2015-11-06 21:53] jakecoolidge commented on #185
completed. will send notification when all parks in this submission are seeded.

[2015-11-06 21:53] #185 closed

[2015-11-06 22:23] jakecoolidge commented on #186
Completed. @cwlawlis802, can you provide me with the contact info for the submitter? (Will close once submitter has been notified.)

[2015-11-06 23:14] jakecoolidge commented on #206
completed.

[2015-11-06 23:14] #206 closed

[2015-11-09 16:22] jakecoolidge commented on #186
submitter contacted

[2015-11-09 16:22] #186 closed

[2015-11-09 16:27] cwlawlis802 commented on #240
@mtaylorlong can you forward that email to me? I updated the Fort Point boundary recently but have not come across any new geometries for other GOGA subunits. This would be good for me to discuss with the park as well.

[2015-11-09 17:55] chadlawlis commented on #242
I'm okay with adding this as a preset with underlying tag `{"highway":"bridleway"}` while maintaining the ability to edit the approved uses i.e. foot, bicycle, horse - as it's done in OSM:

![openstreetmap 2015-11-09 10-54-31](https://cloud.githubusercontent.com/assets/1238636/11041656/5bd4cc42-86d0-11e5-9c5c-010ddaf19f17.jpg)

[2015-11-09 18:00] jimmyrocks commented on #242
+1 for Bridleway

[2015-11-09 18:09] jakecoolidge commented on #242
+1 here as well!

[2015-11-09 18:10] chadlawlis commented on #242
Cool, I can add it to the spreadsheet.

@jakecoolidge want it added as "Carriage Road" or "Bridleway"?

[2015-11-10 15:38] jimmyrocks opened #246 "show_label field inconsistent"
nps_places_reference_points: The ‘show_label’ field is ‘false’ where it should be false, but blank where it should be true.

Switching the style to label where [show_label!=false] works, but it should work with [show_label=true].

[2015-11-10 16:30] chadlawlis commented on #179
From talk-us-nps OSM mailing list:

Park is to be announced today, still no boundary from IRMA.

[2015-11-10 16:49] chadlawlis commented on #179
Share this with Clifford Snow clifford@snowandsnow.us when available.

[2015-11-10 20:29] chadlawlis commented on #179
From Roger @ Lands, this is set for inclusion in next Lands release:

[2015-11-10 21:41] chadlawlis commented on #209
This has been updated in the new `parks_poly` table.

@jimmyrocks is running boundaries tonight so this should go live soon.

[2015-11-10 21:48] jimmyrocks commented on #246
max_zoom_label has been set to a default value of 23.

[2015-11-10 21:48] #246 closed

[2015-11-10 21:52] jimmyrocks opened #247 "Add ldir and ldir_enforce fields to Vector Tiles"
There are currently combined into one field:
CASE WHEN "parks"."ldir_enforce" = true THEN "parks"."ldir" ELSE null END AS "ldir",

This change will break them into two fields

[2015-11-10 21:54] jimmyrocks commented on #247
https://github.com/nationalparkservice/places-data/commit/2037c9d1e749976c6a8b9d994aa061ebd831e1dd

[2015-11-10 21:54] #247 closed

[2015-11-10 22:29] jimmyrocks commented on #240
Since there is no boundary at all for GOGA, I will put a temporary one in for the meantime

[2015-11-10 23:31] jakecoolidge opened #248 "Trails not rendering to CartoDB tables"
We have some trails tagged "highway":"path" in Saint-Gaudens NHS that were created in Places Editor in October and do not appear in nps.trails or nps.places_lines. This came up when park staff attempted to download the trails from insidemaps, but the number of trails geometries listed is currently zero.

[2015-11-11 18:10] jimmyrocks commented on #248
These specific trails were causing problems when being imported to CartoDB. I will re-render them and see if it produces the same error.

[2015-11-11 18:54] jimmyrocks commented on #248
These appear to be fixed: http://www.nps.gov/maps/full.html?mapId=daafb8e5-280a-4914-b3f5-7d160a453f9a&url=aHR0cHM6Ly9ucHMuY2FydG9kYi5jb20vYXBpL3YyL3NxbD9xPVNFTEVDVCUyMColMjBGUk9NJTIwcGxhY2VzX2xpbmVzJTIwV0hFUkUlMjB1cGRhdGVkX2F0JTIwPj0lMjAnMjAxNS0xMS0xMSAxODo0ODoyNyclMjBBTkQlMjB1cGRhdGVkX2F0JTIwPD0lMjAnMjAxNS0xMS0xMSAxODo0OTozOCc7JmFwaV9rZXk9NWU5ZjY1MTIxYWFjZDE4ZDkyYThmNzliZTY1ZjQwNGU3YWJhOGNmNiZmb

[2015-11-11 18:54] #248 closed

[2015-11-12 01:21] mtaylorlong opened #249 "Issue with show_label field in vector tiles (nps-places-reference)"
This issue pertains to the places reference vector tiles, specifically the layer: `#nps_places_reference_points` and the field `show_label`.

Our goal with the `show_label` field is that it carry a `true` value on any tile where the label is to be shown. That way, I can use a simple `[show_label=true] { }` at the top of my label styles. However, this field seems to be coming out with blank values

[2015-11-12 01:26] mtaylorlong commented on #249
Well shit. I just refreshed my tile source, and this issue seems to have already sorted itself out. I think this was a problem in the last set of tiles, but @jimmyrocks fixed it this time around. Seems to be working fine now. Sorry @jimmyrocks for doubting you... :wink:

[2015-11-12 01:26] #249 closed

[2015-11-12 14:54] mtaylorlong commented on #238
@jimmyrocks: I'm still not seeing the one_way field in the nps_places_road_and_trails vector tiles. Here's an example:

One-way road in Shenandoah: http://10.147.153.193/api/0.6/way/50631/full.html

Here's what it looks like in MB Studio:
![screen shot 2015-11-12 at 7 49 08 am](https://cloud.githubusercontent.com/assets/4741443/11121343/853444ca-8912-11e5-971d-6187e00c73be.png)

As you can see, th

[2015-11-12 15:01] jimmyrocks commented on #238
Sorry, it was a typo on my end… https://github.com/nationalparkservice/mapbox-studio-projects/commit/1e196c7f05c66834e126bb56aba5afd802274c6f

[2015-11-12 15:01] #238 closed

[2015-11-12 21:58] mtaylorlong opened #250 "Align road width between Places and OSM roads"
As Places roads become OSM roads at park boundaries, it looks a little odd that their widths don't match. The inconsistency is even variable between different zoom levels. @mtaylorlong will work on making the size more similar, even thought the colors will still be slightly different to keep the OSM roads more subdued.

[2015-11-13 16:19] chadlawlis commented on #240
I am in touch with the GIS Specialist @ GOGA about this and will confirm changes here.

[2015-11-13 16:20] jimmyrocks commented on #240
Glad to see this is getting worked out!

On Fri, Nov 13, 2015 at 11:19 AM, Chad Lawlis notifications@github.com
wrote:

[2015-11-13 16:35] chadlawlis commented on #242
Added as line as "Carriage Road" `{"highway":"bridleway"}`.

Will regenerate presets and confirm when live.

[2015-11-13 17:16] jakecoolidge opened #251 "Delete existing data in locked parks"
*Note: regional park unit lists were taken from [this site](http://inside.nps.gov/index.cfm?handler=parkunitlist&sort=7), so take it with a grain of salt. Not all of the parks originally had Places data in them.*

### AKR

- [x] Alagnak
- [x] Aleutian World War II
- [x] Aniakchak
- [x] Bering Land Bridge
- [x] Cape Krusenstern
- [x] Denali
- [x] Gates Of The Arctic
- [x] Glacier Bay
- [x] Inupiat

[2015-11-13 17:18] jakecoolidge commented on #251
I struck out YELL and GRTE as "exempted" parks. GLAC is struck out since it houses current IMR data. Let me know if I should delete this park as well, or if there's any other parks that should be exempted.

[2015-11-13 17:51] chadlawlis commented on #242
@jimmyrocks to regenerate presets due to limitations with current update script.

[2015-11-13 18:16] mtaylorlong opened #252 "CATO: Clean up Places roads outside park boundary"
There are quite a few roads drawn way outside the park boundary for Catoctin Mountain Park (home of Camp David). This is low priority, but we should ask the park if we can trim these back to the boundary and classify them more specifically – there should be at least one Primary or Secondary road in the park, right?

![screen shot 2015-11-13 at 11 13 34 am](https://cloud.githubusercontent.com/asset

[2015-11-13 18:30] cwlawlis802 opened #253 "Error getting bounds when zooming to Katmai KATM from search"
Searching for and selecting "Katmai National Park & Preserve" in the Park Tiles search bar throws an error, returning the prompt "There was an error getting the bounds for that park."

There is a boundary for KATM in the new boundaries table, so not sure what is going on here.

There is no error when selecting Katmai from the Editor dropdown park list. The error occurs in both PT2 and PT3 beta.

[2015-11-13 22:30] chadlawlis commented on #209
Confirmed as live in PT3.

[2015-11-17 21:40] mtaylorlong opened #254 "Add Ice Age National Scenic Trail (IATR) to Parks Database"
Dee Finnegan, the GIS Specialist for Ice Age National Scenic Trail (IATR) pointed out that we don't list IATR in our Places Editor drop-down. I'm guessing this is because it's a scenic trail and we couldn't properly accommodate it before. With our new Parks database, I think we can include it.

I've asked Dee for the official trail geometry. If there's no official polygon boundary, we can make one

[2015-11-17 21:42] nateirwin commented on #254
Well, this is a tricky one. We've intentionally avoided adding National Trails to our parks database, and Park Tiles, up to this point because they aren't "official" NPS units. Most of the lands that are part of national trails aren't NPS property, etc.

I do, however, think we can support it in Places Editor. Perhaps we should start tracking National Trails, National Historic Areas, etc. in a sep

[2015-11-17 21:44] mtaylorlong commented on #254
Well, I think there's a way for us to store the geometries without ever presenting them inappropriately on a map. IATR has a website and a map, so we'll need to figure out how to show this in Park Tiles.

[2015-11-17 21:51] mtaylorlong commented on #254
As for the separate table, I think we could still keep them all in one place. Since we know the designation (National Trails, National Historic Areas, etc.) we can exclude those cases from rendering where applicable.

[2015-11-17 21:52] nateirwin commented on #254
Agreed. If we just add it into CartoDB, however, a lot of apps that are pulling from there will start displaying it. So we'll just need to be careful about how we implement this.

[2015-11-17 23:13] cwlawlis802 opened #255 "Support "Golf Course" preset as point"
Probably not a common use for most parks, but I have the area of a golf course for DEWA. It would be nice to render this area differently in Park Tiles, especially if we're going with the area of interest approach that might bring more features like this into play.

@jimmyrocks what do you think?

[2015-11-18 14:42] nateirwin commented on #255
I've actually been surprised by how many golf courses I've seen in parks. I think it's more common than you might think. I don't see any reason not to add it?

[2015-11-18 19:56] chadlawlis commented on #157
Seeded points of interest, roads, trails, parking, and the Cliff Park golf course.

Points of interest and parking were conflated with existing data, while roads and trails replaced existing data.

#### Points of interest

Discarded featuretyp = 'Gate'

For points with FMSS:
nps:source_system = "fmss"
nps:source_system_key = "fmss"
nps:source_system_key_value = fmss field value from original data

[2015-11-18 19:57] chadlawlis commented on #157
Link for "after" screenshot: http://insidemaps.nps.gov/mapshot/?basemap=x-ray-view&exportRetina=true&height=850&width=751#11/41.1347/-74.9601

[2015-11-19 20:52] chadlawlis commented on #243
Site is [here](http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=17.20/-97.51646/35.47296&overlays=park-tiles-overlay).

[2015-11-19 21:03] cwlawlis802 opened #256 "NAVA label appearing outside unit boundary"
The unit has two areas, and the label only appears in between them in Park Tiles:

![nava_label](https://cloud.githubusercontent.com/assets/1238636/11284189/b4f0b8f2-8ec5-11e5-9c7a-853305aa01a6.jpg)

This is really only an issue starting ~Z11 or 12. The dot for the unit, at Z<=9, appears to be located slightly off center once you zoom in to >=Z10, when the areas are rendered separately.

[2015-11-19 22:11] chadlawlis commented on #251
Other exceptions listed in original comment.

All set here.

[2015-11-19 22:11] #251 closed

[2015-11-19 22:54] chadlawlis commented on #157
Data seeding directory here: https://github.com/nationalparkservice/places-data/tree/gh-pages/data-seeding/dewa_20151118.

[2015-11-20 20:45] jakecoolidge opened #257 "add BICY trail"
Data stored [here](https://drive.google.com/open?id=0B8kRL6psDWmZUzF4X3V2czVQMzhaUms5S0wxd0xWWnhfaXhZ)

[2015-11-20 21:07] cwlawlis802 opened #258 "MORA boundary"
From Anne @ MORA, 11/20/15:

Places is currently pulling from `WSD_Parks`. Waiting to hear back on a preferable data source.

[2015-11-23 20:56] nateirwin opened #259 "Revert delete changeset(s) for John D Rockefeller"

[2015-11-23 21:30] jakecoolidge commented on #259
the changeset should be found under the name "delete JODR"

[2015-11-23 21:34] jimmyrocks commented on #259
Thanks Jake, I was able to pull the changeset info with that Comment:

[code]

[2015-11-24 19:09] mtaylorlong opened #260 "Add Southeast Region National Historic Trails to Parks Database"
Maricela Avalos from the Southeast Region contacted us about National Historic Trials. She has noticed that we don't support these in the same way we support other park units (they aren't an option in our drop-down). I let her know we're aware of the issue and working on it with other trails as well. I also asked if she could send us authoritative data for the trails that we can use to test our so

[2015-11-24 20:23] jimmyrocks commented on #260
We've had an issue with a lot of trails in the past that "trails" are actually a vague area in which the trail may or may not be. This is because there are important sites along the trail, but much of the trail is on private land and the NPS doesn't want to call attention to these areas.

[2015-11-24 20:52] cwlawlis802 opened #261 "CONG trail"
From SER office, 11/24. Data [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbeVRGcFp0eVdKUU0).

[2015-11-24 21:25] chadlawlis commented on #261
Added as `{"highway":"path"}`. Validation errors fixed (overlapping ways, etc).

Changeset title: "add trails to CONG".

[2015-11-24 21:25] #261 closed

[2015-11-24 21:27] mtaylorlong commented on #260
Right - we just need a solution that balances these concerns. I don't think we should show any kind of green boundary like we do for other units, but I do think that we should add our own nps version of the trail over OSM and make sure it looks okay by masking out clashing osm labels and geometries.

These trails have their own websites and their own maps, so we need a Park Tiles solution. Even if

[2015-11-24 21:50] tpcolson opened #262 "Historic Cabins render as hiker shelters in PT 3.0"
Historic Cabins render as hiker shelters in PT 3.0. A historic building tagged with building:cabin renders as the HFC Hiker Shelter/Cabin in PT 3.0, which is misleading, as historic cabins are generally not available for sleeping.

[2015-11-24 21:51] tpcolson opened #263 "Group Campground icon truncates at #17 in PT 3.0"
http://insidemaps.nps.gov/park-tiles-3/#17/35.60284/-83.77428 note the truncated icon:

![image](https://cloud.githubusercontent.com/assets/5861784/11381712/9667a85a-92cb-11e5-8fc9-e3e7e62d1799.png)

[2015-11-24 21:57] jimmyrocks commented on #259
This is done! I wrote a better "revert changeset" function for this, so it maintains the new versions that were created by the delete. I'll add it to the the places_api github, but I'll include it here as well so we can find it again.

[code]

[2015-11-24 21:57] #259 closed

[2015-11-24 21:58] chadlawlis commented on #257
Added as `{"highway":"path"}`. Validation errors fixed (overlapping ways, etc).

Changeset title: "add trail to BICY".

[2015-11-24 21:58] #257 closed

[2015-11-24 22:01] jimmyrocks commented on #260
This might be a great use for the line and max_zoom_poly features we have
in our parks table now.

On Tue, Nov 24, 2015 at 4:27 PM, Taylor Long notifications@github.com
wrote:

[2015-11-24 22:01] chadlawlis commented on #259
:boom:

[2015-11-24 22:20] chadlawlis commented on #263
Hm, this is displaying at Z16 for me, not 17.

cc @mtaylorlong

[2015-11-24 22:23] tpcolson commented on #263
In Chome, in the only true and ultimate OS, Win 64....in IE 10 it happens at 16, but not 17.

[2015-11-25 12:59] tpcolson opened #264 "Horse camps do not render at all"
Horse camps do not render at all, even though they are reservable campgrounds in rec.gov. E.g tags	{"fee": "yes", "name": "Anthony Creek Horse Camp", "horse": "yes", "sport": "equestrian", "source": "NPS", "leisure": "horse_riding", "tourism": "camp_site", "nps:fcat": "Campground", "nps:unit_code": "grsm", "official_name": "Anthony Creek Horse Camp"}
, which is a campground, get pushed into the "H

[2015-11-25 13:04] tpcolson opened #265 "Visitor center rendering is inconsistent"
Note that at 11 (http://insidemaps.nps.gov/park-tiles-3/#10/35.6177/-83.4796 ) 3 VC's are shown. Zoon into http://insidemaps.nps.gov/park-tiles-3/#11/35.5649/-83.5153, and 3 different VC's are shown....this is inconsistent with http://www.nps.gov/npmap/tools/park-tiles/#10/35.4937/-83.3876 and http://www.nps.gov/npmap/tools/park-tiles/#11/35.5643/-83.4370

[2015-11-25 13:17] tpcolson opened #266 "Boundary clipping truncates surrounding features in PT 3.0"
Boundary clipping truncates surrounding features which are necessary for visitor navigation experience.
http://insidemaps.nps.gov/park-tiles-3/#17/35.71454/-83.52488
![image](https://cloud.githubusercontent.com/assets/5861784/11398120/9dfc19d0-934c-11e5-8e73-968007483cb5.png)
http://insidemaps.nps.gov/park-tiles-3/#17/35.72037/-83.64175
![image](https://cloud.githubusercontent.com/assets/5861784/1

[2015-11-25 13:22] tpcolson opened #267 "What happened to BLRI?"
http://insidemaps.nps.gov/park-tiles-3/#17/35.50735/-83.29468
![image](https://cloud.githubusercontent.com/assets/5861784/11398224/446efa62-934d-11e5-9b14-aca678599664.png)

[2015-11-25 15:13] mtaylorlong commented on #263
Thanks @tpcolson for the heads up. I'll look into this and see if I can figure out what's going on.

[2015-11-25 15:28] chadlawlis commented on #266
These surrounding features are pulling from OpenStreetMap, clipped at the park boundary, while any data inside the boundary is pulling from Places. So, these roads will have to be drawn inside the park boundary in Places to show up in Park Tiles. Features can also be added outside the park boundary, and we are in the process of determining how best to handle the rendering (whether to clip OSM data

[2015-11-25 15:33] tpcolson commented on #266
That was my initial idea to solve this, BUT, won't that make those road [segments] available for download via the CartoDB download/extract? That would violate a few licensing agreements, in general, a NPS unit can't "publish" source GIS data outside of it's boundaries unless there's a MOA/U in place. If you can somehow tag these cartographic-only elements as "Use in PT only, DO NOT make them avail

[2015-11-25 15:36] tpcolson commented on #266
Further thought..another solution would be to cook up a stand-alone table of OSM way id's, and hook that back to Tile Mill, and say "Use these Way ID's when tiling even though they're outside a unit boundary".

[2015-11-25 15:48] chadlawlis commented on #266
Yes, any road segments outside a unit boundary will be available for download given they are associated with a unit code. The boundary issue in general is a political one, while I am not familiar with the need for a MOU for publishing data outside a given unit boundary. Parks and regions have been requesting this directly, given some visitor centers and other important park-owned/associated featur

[2015-11-25 15:56] tpcolson commented on #266
I understand that publishing park (federally-owned) assets that fall outside of unit boundaries is feasible, but what about the issue depicted in the screen shots?

[2015-11-25 15:58] mtaylorlong commented on #266
Lot's of insightful comments here @tpcolson.

@cwlawlis802 is right that the US 321 is coming from OSM. We've included these labels on top of the parks thus far so we don't have to have special US highway labels for road segments drawn within park boundaries, but we may be able to just get rid of this practice. I'll have to think a bit more about how that will play out in more urban areas.

Regard

[2015-11-25 19:09] jimmyrocks commented on #264
The issue here is that the first point is tagged as both `{"tourism": "camp_site"}` and a `{"leisure:" "horse_riding"}` Both of these map up to different presets, and both of these presets currently have the same priority, so you're seeing a collision where the tags to presets function doesn't have enough information to decide the correct tag, so it is currently just choosing whichever tag appears

[2015-11-27 17:17] mtaylorlong opened #268 "Add attributes to Roads and Trails vector tiles"
We need a bit more control over styling roads and trials. Here's our wishlist for new attributes to bring into the Mapbox vector tiles we render from Places:
- `oneway`: yes or no (already in use)
- `surface`: paved, unpaved, dirt, cobblestone, boardwalk, etc.
- `access`: yes, no, public, private, nps-only, seasonal

We should further discuss the recommended values to use for these. Can anyone els

[2015-11-27 17:36] mtaylorlong commented on #268
Thought of one more attribute that may come into play heavily in the mobile apps:
- `accessible`: yes or no

You could also distinguish more than 'yes' or 'no' with values like 'wheelchair' to be more specific that a trail is wheelchair accessible. In some parks' custom mobile maps, we could use this attribute to distinguish between different kinds of accessibility.

[2015-11-30 16:26] mtaylorlong commented on #267
Hi Tom: Thanks for bringing this up in an issue. We're aware that there are some serious problems with the boundaries here. We're working through the issue, but it gets a little complicated since we have to loop in the Lands database folks to the conversation so we can all be on the same page.

Regarding the BLRI parkway, we had to do some cleanup of old parkway data to make way for a new parkway

[2015-11-30 16:26] #267 closed

[2015-11-30 16:38] mtaylorlong opened #269 "PT3 Feedback for HOFR, VAMA, ELRO and MAVA"
David Hayes submitted this Park Tiles 3 feedback via email:

There are two issues here:
1. HOFR Boundary: We need a better boundary from the park.
2. HOFR, VAMA, ELRO and MAVA POI's: We need to check up on the POI's David entered to see why they're not showing up. Some POI's will not show up in Park Tiles, but Restrooms (the example he gave) should.

@cwlawlis802: Can you look into this?
I'll get

[2015-11-30 16:52] chadlawlis commented on #269
Sure, I can take care of the boundary. David will have to send us a spatial file, though, otherwise we'll have to default to either our current boundary or Lands (if our current boundary isn't pulling from this already). We avoid customizing geometries in house.

I can take a look at some of the POIs in these parks to make sure they are tagged correctly. Otherwise @mtaylorlong you might want to lo

[2015-11-30 17:10] chadlawlis commented on #269
The HOFR boundary is currently pulling from `WSD_Parks`, which is actually identical to the Lands boundary. So, if David has as custom boundary we can use we can replace the one currently in Places.

[2015-11-30 17:14] chadlawlis commented on #269
The POIs added to HOFR look to be nodes tagged only with a name and unit code. One point, for example, is tagged with `{"name":"Restrooms"}` instead of using the restroom preset which would be `{"amenity":"toilets"}`. I am assuming this is similar across all parks he added data to, so I will create issues for each and convert these points to the presets that will translate to Park Tiles.

[2015-11-30 17:17] cwlawlis802 opened #270 "Translate POI tags in HOFR"
Re: https://github.com/nationalparkservice/places-data/issues/269.

Specifically https://github.com/nationalparkservice/places-data/issues/269#issuecomment-160693514:

[2015-11-30 17:18] cwlawlis802 opened #271 "Translate POI tags in VAMA"
Re: https://github.com/nationalparkservice/places-data/issues/269.

Specifically https://github.com/nationalparkservice/places-data/issues/269#issuecomment-160693514:

[2015-11-30 17:18] cwlawlis802 opened #272 "Translate POI tags in ELRO"
Re: https://github.com/nationalparkservice/places-data/issues/269.

Specifically https://github.com/nationalparkservice/places-data/issues/269#issuecomment-160693514:

[2015-11-30 17:19] cwlawlis802 opened #273 "Translate POI tags in MAVA"
Re: https://github.com/nationalparkservice/places-data/issues/269.

Specifically https://github.com/nationalparkservice/places-data/issues/269#issuecomment-160693514:

[2015-11-30 17:32] mtaylorlong commented on #269
Nice sleuthing @cwlawlis802. David just sent me new boundary shapefiles for HOFR. It sounds like his data comes from a tax parcel dataset, but the parcels have been merged together where possible. Let's have a look and see if we can use it.

I'll get back to David and let him know that we're working on adding the appropriate tags to the POI's.

[2015-11-30 17:34] chadlawlis commented on #269
Great, I'll take a look.

[2015-11-30 17:44] chadlawlis commented on #269
The HOFR looks good. The only perceivable issue is the movement of the boundary to the north and east of ELRO no longer being seamlessly adjacent, but fortunately they do not overlap so that shouldn't be a problem (click image to enlarge):

![hofr_boundary](https://cloud.githubusercontent.com/assets/1238636/11479430/369657e0-974f-11e5-8046-1af9caca89c3.jpg)

I can update this in our boundaries tab

[2015-11-30 17:48] mtaylorlong commented on #269
@cwlawlis802: Will you reply to our email thread with David and include this screenshot? He's adding data for ELRO too, so he likely has boundary data for that park as well.

[2015-11-30 18:00] chadlawlis commented on #270
Changeset name "Translate POIs to presets in HOFR" http://10.147.153.193/api/0.6/changeset/data/6095/full.html.

Added two features not currently supported as Places presets - a Library `{"amenity":"library"}` and Cinema `{"amenity":"cinema"}`. I will create a separate issue to request their addition.

[2015-11-30 18:00] #270 closed

[2015-11-30 18:03] cwlawlis802 opened #274 "Add presets "Cinema" and "Library""
[`{"amenity":"cinema"}`](http://wiki.openstreetmap.org/wiki/Tag:amenity%3Dcinema) and [`{"amenity":"library"}`](http://wiki.openstreetmap.org/wiki/Tag:amenity%3Dlibrary).

One of each was added to HOFR: https://github.com/nationalparkservice/places-data/issues/270.

[2015-11-30 18:13] chadlawlis commented on #269
Sure thing, just sent it.

[2015-11-30 18:18] chadlawlis commented on #271
Changeset name "Translate POIs to presets in VAMA" http://10.147.153.193/api/0.6/changeset/data/6096/full.html.

[2015-11-30 18:18] #271 closed

[2015-11-30 18:19] chadlawlis commented on #272
This was addressed as part of the HOFR changeset "Translate POIs to presets in HOFR" http://10.147.153.193/api/0.6/changeset/data/6095/full.html.

[2015-11-30 18:19] #272 closed

[2015-11-30 18:34] chadlawlis commented on #273
Changeset name "Translate POIs to presets, areas to building footprints in MAVA" http://10.147.153.193/api/0.6/changeset/data/6097/full.html.

[2015-11-30 18:34] #273 closed

[2015-11-30 18:35] chadlawlis commented on #269
All POI translations have been taken care of, along with area to building footprint translations.

I will upload the park boundary now.

[2015-11-30 18:36] cwlawlis802 opened #275 "Add preset "Farm""
[`{"place":"farm"}`](http://wiki.openstreetmap.org/wiki/Tag:place%3Dfarm) as a point of interest.

See also https://help.openstreetmap.org/questions/504/how-should-a-farm-be-tagged.

[2015-11-30 18:37] chadlawlis commented on #275
Added to MAVA https://github.com/nationalparkservice/places-data/issues/273.

[2015-11-30 18:54] mtaylorlong opened #276 "PT3 Feedback for DEWA"
Kathy Commisso, GIS Specialist for DEWA, sent this feedback for Park Tiles 3 Beta:

Good Morning,
In briefly looking over Park Tiles 3, I have a couple of initial comments that I want to send along before I request comments from our management team.
- The DEWA Points of Interest feature class that was submitted contained points that do not appear in the web map.  Trailheads do appear but feature t

[2015-11-30 18:56] mtaylorlong commented on #276
@mtaylorlong replied with this:
Hi Katherine,

Thanks for your feedback and questions about Park Tiles 3.
1. Park Tiles 3 currently shows a limited set of Points of Interest that work for all parks. We understand that the POI's you mentioned are really important for your park. We do have every intention of displaying more POI's in the future, but it might involve customized solutions for individua

[2015-11-30 19:00] mtaylorlong commented on #276
Priorities:
- [x] Shorten label (name) for Joseph M. McDade Trail
- [ ] Add customizable scale dependency for trails (and POI's) to address specific park requests. Perhaps in the `nps:carto` tag, or a new reserved tag like `nps:scaleref`.
- [ ] Consider adding POI's for mile markers, structures & historic structures, and waterfalls.

[2015-11-30 19:16] mtaylorlong commented on #254
I emailed Dee to let her know that this is a bit more complicated than I thought. I asked if she had any advice about how the trail can be shown at large scales without leading folks into private property.

[2015-11-30 19:44] mtaylorlong opened #277 "Boundary Clean-up for BLRI GRSM"
Let's get these nasty bits of boundary fragments cleaned up at the meeting point of GRSM and BLRI.

![screen shot 2015-11-30 at 12 35 32 pm](https://cloud.githubusercontent.com/assets/4741443/11482239/06d156e4-975f-11e5-8552-fc68356346cc.png)

There appear to be two polygons overlapping the BLRI boundary that just shouldn't be there. I'm pretty confident that we can delete them without even asking

[2015-11-30 19:50] jakecoolidge opened #278 "replace existing trails in NCR with new geometries (PT3 feedback)"
Based on some settings Cynthia uses in ArcGIS, some of her trail geometries didn't import properly into Places. She's provided corrected geometries in the geodatabase stored [here.](https://drive.google.com/open?id=0B8kRL6psDWmZVEJGS1J0d2JXMEkta3Rqb081UndGSHZpYm5z)

She also notes:

Current data are marked as Pedestrian Paths ("highway":"footway"). @cwlawlis802 and @jimmyrocks, is this the correct

[2015-11-30 20:03] chadlawlis commented on #278
I think using "Pedestrian Path" makes sense, though I guess it depends on the definition of "multi-use". Technically a pedestrian path is intended primarily for pedestrian traffic, though they can be open to other modes of transportation like bicycles. Cartographically, this should render differently from a traditional trail `{"highway":"path"}` so this sounds like an appropriate use for it.

[2015-11-30 20:06] jakecoolidge opened #279 "NCR parks are missing from nps.nps-places-reference (PT3 feedback)"
Cynthia noticed that some Places trails are overlapping OSM trails in Washington, near where 17th St SW meets Independence Ave SW. In this area, OSM data are not getting clipped out, since the park unit in the area, The National World War II Memorial, appears to be missing from nps.nps-places-reference.

I quickly threw some data into MB and made the following views of the data in downtown Washing

[2015-11-30 20:11] jakecoolidge opened #280 "replace existing POIs in NCR with new data (PT3 feedback)"
Data found [here.](https://drive.google.com/open?id=0B8kRL6psDWmZVEJGS1J0d2JXMEkta3Rqb081UndGSHZpYm5z) This data should replace all POIs seeded in October.

[2015-11-30 20:29] cwlawlis802 opened #281 "HOFR boundary"
Places is currently pulling from `WSD_Parks`, which is identical to the latest Lands geometry.

David Hayes sent along a custom boundary, data [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbbHBoMnRMeVZ5RVE).

Refer to https://github.com/nationalparkservice/places-data/issues/269 for more context.

[2015-11-30 20:31] cwlawlis802 opened #282 "ELRO boundary"
Places is currently pulling from `WSD_Parks`.

David Hayes sent along a custom boundary, data [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbaGR0eFVkaDVIUW8).

This boundary lines up with the custom HOFR boundary that he sent along - refer to https://github.com/nationalparkservice/places-data/issues/269 for context.

[2015-11-30 20:32] chadlawlis commented on #269
Refer to the issues referenced above to track each boundary update for HOFR and ELRO.

Otherwise, all set here.

[2015-11-30 20:32] #269 closed

[2015-11-30 20:49] jimmyrocks commented on #268
We may want to discuss accessibility.

Wheelchair the handicap accessible tag used in OpenStreetMap. There were concerns with using it as an official tag though because accessibility is a legal issue, and we can't have anyone just tag things as accessible. We had discussed an NPS specific tag that only certain users could use to denote ADA compliance, but we pushed the issue off because of its com

[2015-11-30 20:50] jimmyrocks commented on #268
surface should be available in the next release of the tiles
access is a reserved word, so the field is called "access_tag"

[2015-11-30 21:18] chadlawlis commented on #277
As with most boundary issues, this probably isn't as simple as we'd like it to be. The parcels overlapping the BLRI polygon are associated with GRSM, which came directly from GRSM (likely Tom Colson) earlier this year:

![grsm_vs_blri](https://cloud.githubusercontent.com/assets/1238636/11484631/5314c36c-976c-11e5-9f5c-56c66092959a.jpg)

Removing these parcels might make sense if they weren't assoc

[2015-11-30 21:47] tpcolson commented on #277
We have some pretty serious issues with our boundary, and many of them in the area you indicate are tied up "legal issues"...and we have a request into SER lands to clean some of these up, but we're looking at years of work.

The "cutout" is/was a land swap with a N.A.Tribe.

![image](https://cloud.githubusercontent.com/assets/5861784/11484962/28c178b8-977f-11e5-885f-f08ef2ccb283.png)

The best wa

[2015-11-30 21:49] chadlawlis commented on #281
Updated in `places_boundaries`.

@jimmyrocks to run boundaries later this week. Will confirm when live.

[2015-11-30 21:49] chadlawlis commented on #282
Updated in `places_boundaries`.

@jimmyrocks to run boundaries later this week. Will confirm when live.

[2015-11-30 21:50] mtaylorlong commented on #268
cool. About `access_tag`: is there something else comparable in osm we could use? It kind of bugs me to have it named differently than the others. :/

[2015-11-30 21:54] chadlawlis commented on #242
@jimmyrocks would you mind regenerating the presets this week for this to go live?

[2015-11-30 21:57] jimmyrocks commented on #268
"access" is the tag that OSM uses, and is the column name in the pgsnapshot file. I'm not sure why mbstudio classic doesn't support its use, I can look more into it though.

[2015-11-30 21:59] jimmyrocks commented on #268
Nevermind, it's not working because it's already there

[2015-11-30 22:01] mtaylorlong commented on #277
Wow – well I couldn't have been more wrong about this! Sorry everyone. Clearly, it was a bad idea to delete these without consulting you @tpcolson. I suppose I was thinking of deleting them if they were just random polygons that got left behind in our data, but they clearly aren't. I'm still learning just how complex these boundary issues can be.

[2015-11-30 22:14] mtaylorlong commented on #277
I do foresee some problems with merging the fragments of GRSM with BLRI. It would fix the problem visually, but it may lead to problems down the road when BLRI wants to send us an updated boundary and it reverts to the current state of things.

I wonder if we could clip out the GRSM polygons from the BLRI right of way. The distinction between GRSM and BLRI would still be visible, but we could at l

[2015-11-30 22:19] tpcolson commented on #277
In principal that "should" work, but we might be getting into the territory of folks further up the chain needing to comment on that. Thanks for understanding, anything dealing with a boundary that abuts a tribal boundary will get a lot of scrutiny. At a minimum, I'd like to get the SER lands person involved, we do have a request in to update our entire boundary, perhaps we can get this solved at

[2015-11-30 22:23] chadlawlis commented on #277
@mtaylorlong I'm going to punt this to you, given your direct involvement with BLRI. I'm happy to help with any updates once agreed upon, but it sounds like getting to that stage will require a good deal of discussion with BLRI before anything goes live.

[2015-12-02 17:16] mtaylorlong opened #283 "Resolve OBED/OBRI Discrepancy"
Maricela Avalos has been working on Places data in the Southwest Region and noticed a unit code discrepancy for Obed Wild & Scenic River. The unit is listed twice in our drop-down menu because we have it listed under two different unit codes: OBED and OBRI. According to Maricela, **the official unit code is OBRI**.

Here's what we need to do to resolve the issue:
- [X] ~~Remove OBED record from ou

[2015-12-02 17:18] mtaylorlong commented on #283
One more item on the to-do list:
- [x] Update CartoDB table so the duplicate records aren't pulled into the drop-down list in editor. Maricela mentioned getting a geometry error, so we'll need to make sure that the record we're using has a valid geometry.

[2015-12-02 17:26] nateirwin commented on #283
Looks to me like OBED is the official unit code: http://www.nps.gov/obed/. Not that NPS.gov is always right, but it usually is.

[2015-12-02 17:29] mtaylorlong commented on #283
Ah. Interesting twist. Well, we'll have to get that sorted out before we proceed. I'll ask Maricela to double check.

[2015-12-02 19:43] chadlawlis commented on #283
From the park's GIS specialist, Chad Harrold:

It's listed as OBED throughout NPS.gov, though, as @nateirwin mentions. Is there a logical way for us to decide between the two, or do we simply assume the park preference?

[2015-12-02 19:46] nateirwin commented on #283
Well, this is the "official" list: http://inside.nps.gov/index.cfm?handler=parkunitlist. It says OBED is the correct unit code. I say "official" because I've found errors in this list before, and it seems like it isn't updated all that often.

[2015-12-02 21:18] chadlawlis commented on #283
Right, but if the park is using something different do we default to their preference or what is considered "authoritative" via the NPS.gov pages? This seems similar to how we handle boundaries - defaulting to authoritative (Lands) unless otherwise specified by the park.

[2015-12-02 23:35] chadlawlis commented on #283
So, this unit is currently listed with unit_code OBED in our places_boundaries table, pulling from `WSD_Parks`.

It is available as both OBED and OBRI from our former CartoDB "Parks" boundary table, with identical geometries. OBRI is pulling from Lands, while OBED is pulling from `WSD_Parks` - the latter of which was transferred to the new table, the former which was not. The former (Lands) is mis

[2015-12-03 00:11] nateirwin commented on #283
All this is making me think we should create a table to track alternate unit codes. The reason I say this is we need a way to match both obed and obri to the correct data, no matter which of those codes is passed in. That would make it less important for us to "get it right" in our database.

[2015-12-03 17:00] chadlawlis commented on #283
Sounds good, so we will go with OBRI.

The plan is to create a lookup table with fields "unit_code" and "alt_unit_code", with each alternate unit code having its own record.

With this in place, we will default to the park's preferred unit code, even if this strays from the "official" unit code as displayed on NPS.gov (http://inside.nps.gov/index.cfm?handler=parkunitlist). We will add this to our

[2015-12-03 17:05] cwlawlis802 opened #284 "Populate alternate unit code table"
See https://github.com/nationalparkservice/places-data/issues/283#issuecomment-161716154.

@jimmyrocks sounds like you have solid grasp of how you want this to look, so assigning to you.

[2015-12-03 18:16] jimmyrocks opened #285 "Create task to Synchronize CartoDB parks table and update unit codes"
We need an automatic process to make sure the CartoDB parks table is up to date with our internal table and that the unit codes can be changed without changing the rest of the park information.

[2015-12-03 18:38] chadlawlis commented on #283
Okay, we should be all set here.

I updated checklists to reflect work completed. OBED is now OBRI, and the two issues opened above will help track this and cover us down the road. Closing.

[2015-12-03 18:38] #283 closed

[2015-12-03 19:24] chadlawlis commented on #168
Data [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbRXlDV1VsWjlITGM), from Eric @ IMR.

[2015-12-03 19:24] chadlawlis commented on #258
We were provided two boundary files, one with the "two outside parcels that belong to the park that are missing completely" and one with just the main unit boundary itself:

![qgis 2 10 1-pisa 2015-12-03 11-43-13](https://cloud.githubusercontent.com/assets/1238636/11571143/1cec1e9a-99b8-11e5-8ec9-46d0a7805a08.jpg)

We are moving forward with just the main unit boundary, not including the two outsi

[2015-12-03 19:28] cwlawlis802 opened #286 "Document boundary process for external review"
We have a good start here: https://github.com/nationalparkservice/places-data/blob/gh-pages/boundaries/README.md.

[2015-12-03 19:28] chadlawlis commented on #258
The new boundary for the main unit is only slightly different from what is currently in Places:

![qgis 2 10 1-pisa 2015-12-03 12-25-02](https://cloud.githubusercontent.com/assets/1238636/11571363/2924767a-99b9-11e5-82bd-00d8cd3e3f8a.jpg)

Again, clarification from Anne:

[2015-12-03 20:31] chadlawlis commented on #258
This has been updated in `places_boundaries` - both the `geom_poly` in `parks_poly` and the `data_source` in `parks`.

@jimmyrocks to run the boundary tiles tonight, so this should go live soon.

[2015-12-03 21:20] mtaylorlong opened #287 "Consider Adding WALA and IPP Boundaries for GLAC"
Richard Menicke from Glacier NP asked if we could show Waterton Lakes (WALA) and International Peace Park (IPP) in Park Tiles. Richard said he'd be willing to contribute data for these parks to NPS Places, but I'm guessing there may be some issues around this. I told him I'd ask around.

**Richard's original request**:

[2015-12-03 21:26] nateirwin commented on #287
I'm for it. Not sure how this affects Park Tiles though?

[2015-12-03 21:34] chadlawlis commented on #168
This has been added to `places_boundaries` in all 3 tables - `parks`, `parks_poly`, and `parks_line`.

@jimmyrocks to run the boundary tiles tonight, so this should go live soon.

[2015-12-03 21:43] mtaylorlong commented on #287
To implement this in park tiles, we have to add WALA and IPP as boundaries in our Parks database and treat them like any other park. It sounds like Richard can provide POI's but we would still need roads, trails, parking lots, and buildings to properly represent these parks in Park Tiles.

@nateirwin: Do you think anyone would be against this since we'd be managing data in NPS Places that belongs

[2015-12-03 21:44] cwlawlis802 opened #288 "Populate cartography fields for new unit WACO"
A boundary for the new unit WACO was just added to places_boundaries: https://github.com/nationalparkservice/places-data/issues/168.

@mtaylorlong, can you populate the cartography fields for this? These include:

- `unit_rank`
- `unit_urban`
- `ldir`
- `min_zoom_poly`
- `min_zoom_border`
- `min_zoom_tint_band`
- `min_zoom_label`
- `min_zoom_label_long`
- `min_zoom_label_center`
- `ldir_enforce`
-

[2015-12-03 22:40] cwlawlis802 opened #289 "Convert geom_poly and geom_point to WGS 84 (EPSG 3857)"
geom_poly:
[code]
geom_point:
[code]

[2015-12-03 22:40] #289 closed

[2015-12-03 23:09] #168 closed

[2015-12-03 23:10] #258 closed

[2015-12-03 23:13] #282 closed

[2015-12-03 23:13] #281 closed

[2015-12-03 23:22] mtaylorlong opened #290 "State Boundaries Overly Generalized in LAKE"
Kerry Gaiz from LAKE pointed out that the state boundary lines we get from Mapbox are overly generalized in her park. They are supposed to follow the river, but they don't even come close in some spots:

![image](https://cloud.githubusercontent.com/assets/4741443/11577248/cc4919d0-99d9-11e5-8f7e-4e229a70ec95.png)

I'm pretty sure these boundaries come into the Mapbox data source from Natural Earth

[2015-12-03 23:23] cwlawlis802 opened #291 "Populate "subunit_of" field in places_boundaries "parks" table"
- GOGA
- NPNH
- ...

Populate this table as we go:

unit_code | subunit_of
------------- | -------------
sequ | seki
kica | seki

[2015-12-03 23:26] chadlawlis commented on #291
cc @mtaylorlong @jakecoolidge @nateirwin as you think of these larger units containing smaller ones please add them as comments below so we populate a comprehensive list.

[2015-12-03 23:36] jakecoolidge commented on #291
NCR parks--but as we know, this is really messy right now. I'm adding it just to keep it on our radar.
NAMA appears to include LINC, COGA, WAMO, VIVE, NWWM, KOWA, among others.
Hopefully some data coming to us from NCR will help dispel some of the confusion.

[2015-12-03 23:44] cwlawlis802 opened #292 "Add WACO to CartoDB "Parks" table to appear in Editor drop-down unit list"

[2015-12-03 23:50] chadlawlis commented on #292
[code]

[2015-12-03 23:50] #292 closed

[2015-12-03 23:55] chadlawlis commented on #240
Plenty to address here...

Muir Woods, as currently rendered in Park Tiles:

![park tiles 3 insidemaps 2015-12-03 16-18-58](https://cloud.githubusercontent.com/assets/1238636/11577937/88f35416-99de-11e5-819c-e93be0cdc86d.jpg)

Quick overlay, custom GOGA boundary overlaying current boundaries in Places:

![qgis 2 10 1-pisa 2015-12-03 16-53-24](https://cloud.githubusercontent.com/assets/1238636/1157

[2015-12-04 16:46] cwlawlis802 opened #293 "JAZZ boundary missing"
http://www.nps.gov/jazz/index.htm

No Lands boundary currently available. This was flagged by SER, so hopefully they have a boundary they can share.

[2015-12-04 16:50] jakecoolidge opened #294 "PWR Feature Services"
Sandy sent these to us Oct. 26:
[PWR Roads](http://inppwcagis01:6080/arcgis/services/PWR/PWR_Roads_Service); [in Portal](http://gisportal.nps.gov/arcgis/home/webmap/viewer.html?webmap=380f14c54b68444d9ceac08524cfb557)
[PWR Trails](http://inppwcagis01:6080/arcgis/rest/services/PWR/PWR_NPSTrails/FeatureServer); [in Portal](http://gisportal.nps.gov/arcgis/home/webmap/viewer.html?webmap=722af890467940

[2015-12-04 17:00] nateirwin opened #295 "Create area of interest dataset for "zoom to bounds" functionality and cartographic purposes"
We can start with a few parks and expand out over time. Grand Teton and Yellowstone are obvious candidates.

Cc/ @cwlawlis802 and @mtaylorlong

[2015-12-04 17:04] mtaylorlong commented on #291
SEKI may fall into this category also. Even though Sequoia & Kings Canyon are merged as a unit, they still show two separate units with separate labels on the HFC map (and currently, we show the units separately also).

[2015-12-04 19:29] jimmyrocks commented on #264
This looks to be an issue with the "*" matching in the SQL code, if that's the case, it has something to do with this line of code: https://github.com/nationalparkservice/places-api/blob/master/scripts/sql_scripts/pgs/func_presets.sql#L93

or it could be here: https://github.com/nationalparkservice/places-api/blob/master/scripts/sql_scripts/pgs/func_presets.sql#L102-L106

[2015-12-04 19:36] nateirwin opened #296 "Let's get rid of `nps:fcat`!!!"
The `nps:fcat` tag is an unfortunate relic that remains from the early days of Places. Can we finally rid ourselves of it?

http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&id=n4154978&map=17.51/-83.49020/35.63765

Now that we're using superclass and class, it is confusing, duplicative, and in most cases out-of-date. What's the easiest way to make this happen?

Once it's gone,

[2015-12-04 19:46] jakecoolidge commented on #296
@jimmyrocks likes to make edits through JOSM, since it's traceable. We could a nation-wide seek-and-delete, but it could take some time. In any case we'd be focusing on MWR, SER, NER, and NCR.

[2015-12-04 19:50] jimmyrocks commented on #296
I can easily nuke it from everything, I have left it there so we can always
remap what the fcats meant if we find something we'd like to update. I saw
no harm in keeping an extra tag in there, but I guess that confused some of
the users.

I guess we'll need to verify all of the fcat mappings, then we can get rid
of the tag.

On Fri, Dec 4, 2015 at 2:46 PM, Jake Coolidge notifications@github.com
wr

[2015-12-04 19:53] nateirwin commented on #296
The problem is, the fcats were flawed from the beginning. They came primarily from crappy, legacy datasets. I really don't see how there would be any good data there for us to pull from, so I'd say let's just go ahead and wipe them.

[2015-12-04 19:56] jimmyrocks commented on #296
It's possible that we might want to wipe all points that have an fcat then.

On Fri, Dec 4, 2015 at 2:53 PM, Nate Irwin notifications@github.com wrote:

[2015-12-04 19:56] jimmyrocks commented on #296
well have an fcat AND a version of 1 in the database.

On Fri, Dec 4, 2015 at 2:55 PM, Mcandrew, James <
james_mcandrew@partner.nps.gov> wrote:

[2015-12-04 19:57] nateirwin commented on #296
I don't think that's necessary. Especially now that many parks have taken a look at Places.

I just don't see any value in keeping the fcat tag around, and, again, it is confusing people. It served us well, but its time has passed.

[2015-12-04 19:57] chadlawlis commented on #296
In terms of the tag itself, it's listed in our "nps: tags" [spreadsheet](https://docs.google.com/spreadsheets/d/1CsCc_fLjrnBnOvdlguDnc0UfRqM_OQAitor4HOA2JVE/edit) as "nps:fcat", and is not included in the original Places/GIS mapathon schema [doc](https://github.com/nationalparkservice/places-data/wiki/Places-Data-Schema-Guide---Mapathon-%5BANTIQUATED%5D#nps-internal-tags-common-to-all-data-standar

[2015-12-04 20:06] chadlawlis commented on #293
Data [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbVjNkaEJpX1loTmc).

[2015-12-04 20:13] cwlawlis802 opened #297 "Add preset "Athletic Field""
http://wiki.openstreetmap.org/wiki/Tag:leisure%3Dpitch

Urban parks in particular need baseball fields, tennis courts, etc.

GOGA is a good example, e.g. http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=19.49/-122.47419/37.80311.

[2015-12-04 20:13] chadlawlis commented on #255
GOGA as example: http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=16.72/-122.46758/37.79151.

[2015-12-07 16:29] nateirwin commented on #287
I'm sure some might disagree with supporting this, but if GLAC is willing to take ownership, I don't see any problem with it.

[2015-12-07 18:24] cwlawlis802 opened #298 "Populate cartography fields for JAZZ"
A boundary for JAZZ was just added to places_boundaries: https://github.com/nationalparkservice/places-data/issues/293.

@mtaylorlong, can you populate the cartography fields for this? These include:

- `unit_rank`
- `unit_urban`
- `ldir`
- `min_zoom_poly`
- `min_zoom_border`
- `min_zoom_tint_band`
- `min_zoom_label`
- `min_zoom_label_long`
- `min_zoom_label_center`
- `ldir_enforce`
- `min_zoom_si

[2015-12-07 18:34] mtaylorlong commented on #235
All initial data was seeded on 11/27/2015.

[2015-12-07 18:34] #235 closed

[2015-12-07 18:37] chadlawlis commented on #293
Added to `places_boundaries` and CartoDB `Parks`.

@jimmyrocks to run the tiles later this week for this to go live.

[2015-12-07 18:37] #293 closed

[2015-12-07 18:54] chadlawlis commented on #235
Adding note here to remember to track this in our Places seeding spreadsheets.

[2015-12-07 18:57] mtaylorlong commented on #235
I got it in Data Seed Tracking. I think I still need to add it to some other spreadsheed. Maybe the data sources one?

[2015-12-07 19:02] chadlawlis commented on #235
[Places Data Sources](https://docs.google.com/spreadsheets/d/1dXwwszQbF1hBOJZ2BCH37LAGY-VgpO8vOBN2XzQc6EQ/edit#gid=0) and [Tracking Places Data Call Responses](https://docs.google.com/spreadsheets/d/1kgpmfuQg8mgEtcqd7MBGuO5fJoeQmUbFuqvuD7XzxSE/edit#gid=0).

Looks like you'll just need to update the dates for the latter. Thanks!

[2015-12-07 19:16] cwlawlis802 opened #299 "Update MUWO boundary"
Currently pulling from `WSD_Parks`, which is misaligned (see also https://github.com/nationalparkservice/places-data/issues/240):

![park tiles 3 insidemaps 2015-12-03 16-18-58](https://cloud.githubusercontent.com/assets/1238636/11577937/88f35416-99de-11e5-819c-e93be0cdc86d.jpg)

![qgis 2 10 1-pisa 2015-12-07 12-11-16](https://cloud.githubusercontent.com/assets/1238636/11636903/b90146c2-9cdb-11e5-

[2015-12-07 19:49] chadlawlis commented on #291
For GOGA, we currently have individual unit geometries for these "subunits":
- PRSF (though this boundary is not rendered in Park Tiles)
- FOPO
- SAFR
- MUWO

ALCA should also be included in this - it is included in our current GOGA geometry, but does not have a standalone unit geometry.

I am in touch with the GIS Specialist @ GOGA to confirm this list and correct the geometries.

See also this i

[2015-12-07 19:52] mtaylorlong opened #300 "PWR Data Seed: LAVO Roads, Trails, Buildings, Parking Areas"
Sandy from PWR requested that we seed the following data using her published services:
- Roads
- Trails
- Buildings (from facilities)
- Parking Areas

Feature Server [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-07 20:00] mtaylorlong opened #301 "PWR Data Seed: OLYM Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-07 20:04] chadlawlis commented on #240
### Geometry issues

I have moved the MUWO to another issue, here https://github.com/nationalparkservice/places-data/issues/299. I will replace the MUWO `WSD_Parks` geometry with the latest from Lands.

Judging by our current data, GOGA includes the following subunits:
- PRSF (source: `WSD_Parks`)
- FOPO (source: `FOPO`)
- SAFR (source: `WSD_Parks`)
- MUWO (source: `Land Resources Division`)
- ALC

[2015-12-07 20:12] chadlawlis commented on #240
### Labeling issues

In terms of true GOGA subunits, PRSF and ALCA are missing labels in Park Tiles at all zoom levels. Original ALCA issue here https://github.com/nationalparkservice/places-data/issues/17.

In terms of not true GOGA subunits, the Marin Headlands could use a label, though there is no geometry for this (as it is not an NPS unit). Angel Island, the island due north of ALCA, could al

[2015-12-07 21:03] chadlawlis commented on #299
Updated to Lands boundary in `places_boundaries` and CartoDB `Parks`.

@jimmyrocks to run the tiles later this week for this to go live.

[2015-12-07 21:03] #299 closed

[2015-12-07 21:29] jakecoolidge commented on #226
Seeded using [this service](http://insideimrgis.nps.gov/arcgis/rest/services/ParkTiles/ZION/FeatureServer)

Tag conversions (attributes not converted were deleted)

#### POI

POINAME name
POITYPE deleted after each unique value received appropriate tags
- Amphitheater (amenity:theatre; theatre_type:amphi)
- Bench (amenity:bench)
- Bridge (bridge:*)
- Bus Stop (highway:bus_stop)
- Campfire Ring (le

[2015-12-07 23:46] cwlawlis802 opened #302 "MLKM has no label"
http://insidemaps.nps.gov/park-tiles-3/#17/38.88613/-77.04498.

This is not associated with a unit designation in `places_boundaries` either - do we want to append "National Memorial" to this given the website? http://www.nps.gov/mlkm/index.htm

cc @mtaylorlong

[2015-12-08 00:02] jakecoolidge commented on #212
Will seed this directly from REST services, following the ZION example.

[2015-12-08 00:10] chadlawlis commented on #286
Current boundary source status (**as of 12/07/15**):
- 35 from park/region (~9%)
- 311 from WSD_Parks (~76%)
- 57 from Land Resources Division (~14%)
- 4 with no geometry/source (~1%)
  = 407 in total

**Park or region (35):**
Acadia National Park
African Burial Ground National Monument
Bandelier National Monument
Blue Ridge Parkway
Cape Hatteras National Seashore
Catoctin Mountain Park
Death Vall

[2015-12-08 00:18] chadlawlis commented on #286
Tracking:
- GitHub ([open](https://github.com/nationalparkservice/places-data/labels/places-boundaries) and [closed](https://github.com/nationalparkservice/places-data/issues?q=label%3Aplaces-boundaries+is%3Aclosed))
- [Tracking Boundary Updates](https://docs.google.com/spreadsheets/d/1eGirQYk7N5QIXlkh5_lmrSy_4uuRLQYT30OSflGNaiI/edit#gid=0&vpid=A1) spreadsheet

Data sources:
- Geometries + labels:

[2015-12-08 16:06] mtaylorlong opened #303 "PWR Data Seed: YOSE Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Yosemite using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:07] mtaylorlong opened #304 "PWR Data Seed: SEKI Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Sequoia & Kings Canyon using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:08] mtaylorlong opened #305 "PWR Data Seed: LAKE Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Lake Mead using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:09] mtaylorlong opened #306 "PWR Data Seed: CIRO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for City of Rocks using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:10] mtaylorlong opened #307 "PWR Data Seed: KAHO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Kaloko-Honokōhau using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:17] mtaylorlong opened #308 "PWR Data Seed: PUHE Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Pu`ukoholā Heiau using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:18] mtaylorlong opened #309 "PWR Data Seed: PUHO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Pu`uhonua O Hōnaunau using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:18] mtaylorlong opened #310 "PWR Data Seed: HAVO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Hawai'i Volcanoes using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:20] mtaylorlong opened #311 "PWR Data Seed: SAMO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Santa Monica Mountains using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:21] mtaylorlong opened #312 "PWR Data Seed: PINN Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Pinnacles using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:22] mtaylorlong opened #313 "PWR Data Seed: HAFO Roads, Trails, Buildings"
Sandy from PWR requested that we seed the following data for Hagerman Fossil Beds using her published services:
- Roads
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-08 16:25] mtaylorlong opened #314 "PWR Data Seed: DEVA Trails, Buildings"
Sandy from PWR requested that we seed the following data for Death Valley using her published services:
- Trails
- Buildings (from facilities)

Feature Server: [http://inppwcagis01:6080/arcgis/rest/services/PWR](http://inppwcagis01:6080/arcgis/rest/services/PWR)

[2015-12-09 15:46] nateirwin commented on #286
I think we really need to go through the 311 WSD_Parks boundaries and compare them to the boundaries coming in from Lands. If the boundaries are the same, we should switch back to pulling from Lands.

Thoughts? Perhaps we can split this task up between the team so we can get through it faster?

[2015-12-09 16:15] chadlawlis commented on #286
@nateirwin ya, I was thinking the same thing. I was also looking to get some context from you and @jimmyrocks as to why we originally pulled from WSD_Parks for so many units, instead of Lands - if these are all customized boundaries directly from the units or if this is a combination of Lands boundaries and custom unit boundaries, etc. I understand that the data source was aggregated for the state

[2015-12-09 16:23] chadlawlis commented on #286
We could use `ST_Equals`(PostGIS) as a start to identify identical geometries between WSD_Parks and Lands, we would just need to load all WSD_Parks and all Lands boundaries into one database. I'm happy to take that on as a first step.

[2015-12-09 16:23] nateirwin commented on #286
Not sure that I can answer your question about why so many of the park boundaries were labeled "WSD_Parks". I believe it might be because we just assumed that if a park had a boundary in that dataset we should use it over Lands. But my hunch is that most of the WSD_Parks boundaries are actually Lands boundaries, and it would be good to switch the source back to Lands, where possible.

[2015-12-09 16:24] nateirwin commented on #286
I think the `ST_Equals` idea is a good one. I'd say go with it!

[2015-12-09 17:23] jakecoolidge commented on #212
We'll convert POILABEL as the name field (POINAME was used in Zion). I just spoke with Eric, and this is a field they're maintaining that's optimized for map display. In other words, this is the name that should appear in PT3 when a POI is clicked.

Also, BLCA and CURE are jointly managed, so the data for the two parks travel together in the REST service.

[2015-12-09 19:06] cwlawlis802 opened #315 "Create new `parks_temp` CartoDB boundaries table"
This new table will be populated by our `parks` table in the `places_boundaries` database (what we're referring to as the "PostGIS Parks" table, the other the "CartoDB Parks" table). Ultimately, the goal for this table is to replace the existing CartoDB Parks table for use in NPS products (apps, maps) and potentially for use as a cartographic table for public consumption.

Fields:
- `cartodb_id` (

[2015-12-09 19:07] chadlawlis commented on #315
@mtaylorlong @jimmyrocks let me know if this lines up with what we discussed, if so I'll go get started populating it from the PostGIS Parks table.

[2015-12-09 19:18] cwlawlis802 opened #316 "Maintain antiquated CartoDB `parks` table fields after replacement with `parks_temp` table"
Related to https://github.com/nationalparkservice/places-data/issues/315, these fields are currently in the CartoDB Parks table, which we would like to remove through the creation of the `parks_temp` table (which will ultimately replace the current CartoDB Parks table). We need to pull an inventory of what, if any, services (apps, maps) are using these fields to understand the impact of their remo

[2015-12-09 19:21] chadlawlis commented on #316
@mtaylorlong @jimmyrocks confirm that these line up with what we discussed.

@nateirwin let us know what you think. These will remain in the CartoDB Parks table until it is ultimately replaced by the new `parks_temp` table. The thought is that these fields are not pulling from the CMS and/or are no longer in use, so if they are stagnant/antiquated there is no point in maintaining them, especially

[2015-12-09 19:22] chadlawlis commented on #245
See also: https://github.com/nationalparkservice/places-data/issues/315.

We can clean any remaining issues up as we create the new CartoDB table, which will pull from the PostGIS Parks table (`parks` in `places_boundaries`).

[2015-12-09 19:29] cwlawlis802 commented on #245
- [ ] Resolve `designation` != `full_designation` and remove `full_designation`

[2015-12-09 19:32] cwlawlis802 opened #317 "Add/update fields in places_boundaries `parks` table"
Add/update these fields to the PostGIS Parks table for maintenance/output back into CartoDB Parks table.

Add:
- [x] `unit_region`
- [x] `unit_state`
- [x] `unit_url`
- [x] `created_by`
- [x] `updated_by`

Update/populate:
- [x] `unit_region` (populate from http://inside.nps.gov/index.cfm?handler=parkunitlist)
- [x] `unit_state` (populate from http://inside.nps.gov/index.cfm?handler=parkunitlist)

[2015-12-09 19:33] nateirwin commented on #315
We have another table we are using to track which parks are locked in Places. That table also has the contact email address for whomever "locked" a park (right now, just regional email addresses, but could in the future be a local park contact).

I think we want to continue keeping that information separate from this core parks table.

[2015-12-09 19:33] nateirwin commented on #315
I also think we should add `created_by` and `updated_by` columns. This is kind of a standard for everything we do in CartoDB.

[2015-12-09 19:35] nateirwin commented on #316
I'd say let's preserve this information, but move it into a separate CartoDB table for now. We've long had plans to write a process for refreshing these fields from Web Services Division. We have never prioritized it, however.

The only maps I can think of that might be pulling from these fields are the state page maps. It should be trivial to migrate them over to point to a new table.

[2015-12-09 19:37] chadlawlis commented on #315
@nateirwin re: https://github.com/nationalparkservice/places-data/issues/315#issuecomment-163366452, @jimmyrocks said he is using the `places_lock` field in the current CartoDB Parks table, which is why we decided to maintain it. Is there another table this should be pulled from instead?

Re: https://github.com/nationalparkservice/places-data/issues/315#issuecomment-163366653, all of these fields

[2015-12-09 19:40] chadlawlis commented on #316
@nateirwin we can just continue to maintain this in the current CartoDB parks table, then rename it  and remove the other fields once we are ready for `parks_temp` to replace it.

State page maps still pull from this table?

[2015-12-09 19:40] nateirwin commented on #315
@jimmyrocks: I thought you had switched over to pulling from the new table I created for this (as we discussed)? Here's the new table: `nps.parks_places_status`.

[2015-12-09 19:42] nateirwin commented on #316
Yep, but we could write just a little bit of JavaScript and have the state page maps just pull directly from the page they're embedded on. This is the best solution, and it shouldn't take more than a few hours of dev.

[2015-12-09 19:45] chadlawlis commented on #316
Sounds good - so, we'll keep these fields in the current CartoDB parks table until that script has been developed to pull the state page maps from the page they're embedded on. Once complete, we can completely remove the current CartoDB parks table and replace it with the new `parks_temp` table, which does not contain these fields.

[2015-12-09 19:45] jimmyrocks commented on #315
Nate, you're right, we did move that over… sorry to hold things up over
this!

On Wed, Dec 9, 2015 at 2:40 PM, Nate Irwin notifications@github.com wrote:

[2015-12-09 19:46] chadlawlis commented on #315
No worries @jimmyrocks, removing from list now.

[2015-12-09 19:47] chadlawlis commented on #317
So, @jimmyrocks - `places_lock` does not need to be maintained here either, correct? Just the separate CartoDB table `nps.parks_places_status`? Or would you want that available here as well?

[2015-12-09 19:51] cwlawlis802 opened #318 ""Fredericksburg" vs. "Fredericksburg & Spotsylvania National Military Park""
Re: https://github.com/nationalparkservice/places-data/issues/245.

Remove "Fredericksburg" FRED, but review geometries - FRED is pulling from Lands, while FRSP is pulling from WSD_Parks.

[2015-12-09 19:52] nateirwin commented on #318
I think FRED probably needs to be preserved in our "alternate unit codes" table.

[2015-12-09 19:56] jimmyrocks commented on #317
does not need to be maintained here either

On Wed, Dec 9, 2015 at 2:47 PM, Chad Lawlis notifications@github.com
wrote:

[2015-12-09 19:56] cwlawlis802 opened #319 "Thomas Jefferson Memorial missing from PostGIS parks table"
Re: https://github.com/nationalparkservice/places-data/issues/245.

Two records are in CartoDB parks table, THJE and JEFM, but neither are housed in PostGIS parks. NPS.gov uses THJE.

We need to remove one record from CartoDB, add it into PostGIS parks, and add the unused unit code into the alternate unit code table.

[2015-12-09 19:58] chadlawlis commented on #317
Thanks, removing now.

[2015-12-09 20:00] cwlawlis802 opened #320 ""National Mall" and "National Mall & Memorial Parks" missing from PostGIS parks table"
Re: https://github.com/nationalparkservice/places-data/issues/245.

Two records are in CartoDB parks table, NACC and NAMA, but neither are housed in PostGIS parks...

We need to remove one record from CartoDB, add it into PostGIS parks, and add the unused unit code into the alternate unit code table.

@jimmyrocks it's strange that this happened for both this and https://github.com/nationalparkserv

[2015-12-09 20:02] chadlawlis commented on #245
See here https://github.com/nationalparkservice/places-data/issues/68 for OBRI. This issue has been resolved in CartoDB, but PT3 labeling and boundary rendering (https://github.com/nationalparkservice/places-data/issues/321) issues remain.

[2015-12-09 20:07] chadlawlis commented on #68
Well, this is "fixed" in CartoDB - there is only one record "Obed Wild & Scenic River" - and it is maintained correctly in the new PostGIS parks table with `unit_name_long = Obed` and `unit_desig_full = Wild & Scenic River`. However, the label in PT3 is only showing up as `Obed WSR`.

Re-purposing this issue, and copying @mtaylorlong.

[2015-12-09 20:11] chadlawlis commented on #286
Chances are not many geometries will be identical, though using a buffer or other acceptable difference is dangerous (could be projection issue, could be one small parcel change that's important, etc). So, I'll start with this `ST_Equals` comparison as a first step then these will have to be manually reviewed, most easily in CartoDB overlaying the two sources in map view.

[2015-12-09 20:15] cwlawlis802 opened #321 "Boundary for OBRI not rendering in PT3"
It renders in Places Editor, this is the view upon landing zoom from the dropdown:

![editor places insidemaps 2015-12-09 13-12-42](https://cloud.githubusercontent.com/assets/1238636/11697401/a51b2c12-9e76-11e5-830a-8b76c4436f43.jpg)

Only a point renders in PT3, this is the view upong landing zoom from the search bar (if you squint you can see "Obed WSR" label on the point, and the boundary does

[2015-12-09 20:30] cwlawlis802 opened #322 ""National Capital Parks" vs. "National Capital Parks - East""
Re: https://github.com/nationalparkservice/places-data/issues/245.

There are currently 3 records in our CartoDB parks table like 'national capital parks%' - "National Capital Parks" NACP with no `poly_source`, "National Capital Parks" NACA with `poly_source = npmap placeholder`, and "National Capital Parks - East" NACE with `poly_source = WSD_Parks`.

Both Editor and PT3 pull from both records wi

[2015-12-09 21:45] chadlawlis commented on #319
The `WSD_Parks` and `Lands` boundaries are nearly identical:

![parks cartodb 2015-12-09 14-42-06](https://cloud.githubusercontent.com/assets/1238636/11699755/2b6d011c-9e83-11e5-8318-d3d2c874d20b.jpg)

The `WSD_Parks` record, however, includes all attribute data and the NPS.gov `unit_code` THJE.

So, I will replace `the_geom` with Lands then remove the Lands (JEFM) record. I will add the final rec

[2015-12-09 21:51] chadlawlis commented on #284
| unit_code | alt_unit_code | issue |
| --- | --- | --- |
| thje | jefm | https://github.com/nationalparkservice/places-data/issues/319 |
| frsp | fred | https://github.com/nationalparkservice/places-data/issues/318 |
| obri | obed | https://github.com/nationalparkservice/places-data/issues/283 |
| wamo | wash |  |
| cong | cosw |  |

[2015-12-09 22:23] cwlawlis802 opened #323 "Populate cartography fields for THJE"
A boundary for THJE was just added to the PostGIS parks table: https://github.com/nationalparkservice/places-data/issues/319.

@mtaylorlong, can you populate the cartography fields for this? These include:

- `unit_rank`
- `unit_urban`
- `ldir`
- `min_zoom_poly`
- `min_zoom_border`
- `min_zoom_tint_band`
- `min_zoom_label`
- `min_zoom_label_long`
- `min_zoom_label_center`
- `ldir_enforce`
- `min_z

[2015-12-09 22:26] jimmyrocks commented on #323
This might be where the old code comes in to calculate these. @mtaylorlong,
assign this to me if you want me to take a look tomorrow morning

On Wed, Dec 9, 2015 at 5:23 PM, Chad Lawlis notifications@github.com
wrote:

[2015-12-09 22:42] chadlawlis commented on #319
Cut down to one record in CartoDB parks, added record to PostGIS parks.

This will go live once boundary tiles have been regenerated.

[2015-12-09 22:42] #319 closed

[2015-12-09 23:48] chadlawlis commented on #318
The difference between the two geometries is substantial. Lands includes only a small parcel, unit_code FRED and name "Fredericksburg" while WSD_Parks include numerous much larger parcels, unit_code FRSP (which is used by NPS.gov) and name "Fredericksburg & Spotsylvania National Military Park" (also used by NPS.gov).

![qgis 2 10 1-pisa 2015-12-09 16-20-11](https://cloud.githubusercontent.com/asse

[2015-12-10 00:07] cwlawlis802 opened #324 "Boundary for FRSP not rendering in PT3"
Similar to https://github.com/nationalparkservice/places-data/issues/321.

There have been two boundaries - one for "Fredericksburg & Spotsylvania National Military Park" FRSP (from WSD_Parks) and another for "Fredericksburg" FRED (from Lands) (see https://github.com/nationalparkservice/places-data/issues/318). Both boundaries render in Editor, while only the FRED boundary (small land parcel) rend

[2015-12-10 00:10] chadlawlis commented on #318
"Fredericksburg" with unit_code FRED pulling from Lands has been removed in both CartoDB and PostGIS parks tables. Changes will go live once tiles have been regenerated.

Closing for now, but will flag for the park.

[2015-12-10 00:11] chadlawlis commented on #318
Ping @nateirwin for park contact info.

[2015-12-10 16:57] mtaylorlong commented on #68
@cwlawlis802: All this sounds good to me. Isn't `Obed WSR` exactly how we want it to label in PT3?

[2015-12-10 16:59] chadlawlis commented on #68
Ah, if that's the case then we're all set here. I imagined we might want the full designation spelled out at higher zoom levels, given the availability of space for the label. If not that's good to know - I've noticed this for other units, so being an intentional design decision would explain it.

[2015-12-10 17:01] mtaylorlong commented on #68
Well, it should got to the full label eventually. If it never does, then I should look at the min_zoom settings in Parks postgis. I need to look anyway to see why the polygon isn't rendering.

[2015-12-10 17:02] chadlawlis commented on #68
Ya, it never does.

[2015-12-10 17:11] chadlawlis commented on #68
Well, this could be why...

![query - places_boundaries on postgres localhost 15432 2015-12-10 10-10-28](https://cloud.githubusercontent.com/assets/1238636/11722512/4af7eada-9f26-11e5-909d-c306881ebf6f.jpg)

[2015-12-10 17:15] chadlawlis commented on #321
Related: PT3 displays error "There was an error getting the bounds for that park" when selecting "Obed Wild & Scenic River" from the search bar, on the initial try. Hitting return again successfully brings you to the unit zoom.

This may fix itself once the boundaries have been regenerated.

[2015-12-10 19:39] jakecoolidge commented on #280
Tags were assigned to POIs based on the attribute POI_Type. Tags are summarized below. Where POI_Type matched a Places Preset, the tags were taken directly from the Places Preset Classes spreadsheet and are not repeated below. POIs with a miscellaneous POI_Type, "Recreation" were assigned a variety of tags; these are listed in a second table.

| POI_Type | Count | tags used |
| --- | --- | --- |
|

[2015-12-10 23:12] chadlawlis commented on #284
Table has been created in `places_boundaries` https://github.com/nationalparkservice/places-data/blob/gh-pages/boundaries/database/views/alternate_unit_codes.sql.

Repurposing this to populate table.

[2015-12-10 23:19] mtaylorlong commented on #324
How would y'all feel about considering this a subunit issue? I think it's pretty analogous to SEKI.

This doesn't solve all the other issues mentioned above, but as we clean up the database records, I think it's worth making this change as well. @cwlawlis802: What do you think?

[2015-12-10 23:26] chadlawlis commented on #319
Updated again today, resolving projection issues.

[2015-12-10 23:26] chadlawlis commented on #299
Updated again today, resolving projection issues.

[2015-12-10 23:37] chadlawlis commented on #293
Updated again today, resolving projection issues.

[2015-12-10 23:42] chadlawlis commented on #324
@nateirwin should have contact info for the park, so let me reach out before we make any more decisions here. FRED could very well be considered a subunit of FRSP, although it is technically not considered a standalone unit by NPS.gov. I'll add that to the list here https://github.com/nationalparkservice/places-data/issues/291.

[2015-12-10 23:43] chadlawlis commented on #291
FRED might be considered a subunit of FRSP. Originally from https://github.com/nationalparkservice/places-data/issues/324.

[2015-12-10 23:46] chadlawlis commented on #324
Related: PT3 displays error "There was an error getting the bounds for that park" when selecting "Fredericksburg & Spotsylvania National Military Park" from the search bar, on the initial try. Hitting return again successfully brings you to the unit zoom.

This may fix itself once the boundaries have been regenerated.

The same issue exists for OBRI: https://github.com/nationalparkservice/places-d

[2015-12-10 23:55] mtaylorlong commented on #324
Sure thing. To me, it comes down to whether or not people still talk about Fredericksburg as one thing and Spotsylvania as another. It's especially helpful to store separate subunits for labeling if they are in separate locations. If we talk to the park, I think it's important to make it clear that our subunit delineations are often made for cartographic reasons alone.

[2015-12-10 23:58] mtaylorlong commented on #291
If we do get the go-ahead to make FRED a subunit of FRSP, then SPOT should be a subunit of FRSP as well. Both FRED and SPOT are the old unit codes that merged. Again, this would be analogous to SEQU and KING becoming SEKI, but us still maintaining separated geometries for SEQU and KING in addition to the master boundary for SEKI.

[2015-12-11 00:04] cwlawlis802 opened #325 "Convert `geom_point` from type "multipoint" to "point""
Generating x,y coordinates from `geom_point` in PostGIS parks table (`places_boundarie` > `parks`) throws an error due to `geom_point` being type "Multipoint":

`SELECT ST_X(geom_point) FROM parks`

returns:
`ERROR:  Argument to X() must be a point`

This may be fixable with `ST_Dump`:
`UPDATE parks SET geom_point = (SELECT (st_dump(geom_point)).geom LIMIT 1)`

We need to convert all existing `geo

[2015-12-11 00:05] chadlawlis commented on #324
Agreed, sounds good - I'll make that clear to the park.

[2015-12-11 16:33] frogmapr opened #326 "Connecting to places-data using Geocortex"
I would like to connect to places data using the Geocortex if possible.  Here below are the current types of data that I can connect to using Geocortex:

![geocortexlyroptions1](https://cloud.githubusercontent.com/assets/11652263/11749096/0ea95aaa-9fe9-11e5-93d7-da6542f7451f.jpg)

Would one of these work to connect to the data?

Ideally I would like to connect in a way that allows for identificati

[2015-12-11 17:22] chadlawlis commented on #325
[code]

Thanks @jimmyrocks :hand:

[2015-12-11 17:22] #325 closed

[2015-12-11 17:30] jakecoolidge opened #327 "represent POIs on Park Tiles 3 with generic symbol?"
Eric at IMR had an idea that will aid their review of Park Tiles 3: the ability to see those points of interest that are not one of the core categories with a generic symbol. Perhaps they are not visible at zooms lower than 15 (?) to alleviate visual clutter.

[2015-12-11 17:42] nateirwin commented on #326
Hi Neil,

Can you try using the following URL to bring in Yellowstone's campgrounds as a "KML Layer"?

https://nps.cartodb.com/api/v2/sql?q=SELECT \* FROM points_of_interest WHERE unit_code='yell' AND type='Campground'&format=kml

[2015-12-11 17:43] nateirwin commented on #327
We could actually just bring these points in as a GeoJSON overlay. That way, they could easily be toggled on and off, and I feel like it would make it clear that they are not part of PT3 itself.

[2015-12-11 19:29] jimmyrocks commented on #268
Following with @jakecoolidge and @mtaylorlong that these fields are currently working for you?

[2015-12-11 19:29] frogmapr commented on #326
Hey So I was able to add that URL to the map, it looks like this in the layer list:

![image](https://cloud.githubusercontent.com/assets/11652263/11753139/be5be91a-a000-11e5-80dd-784ec93c271a.png)

but then when i open up the map in the browser, the layer doesn't display and i get the following error:

![image](https://cloud.githubusercontent.com/assets/11652263/11753087/8ed42838-a000-11e5-8d20-52

[2015-12-11 21:07] chadlawlis commented on #255
Added as `{"leisure":"golf_course"}` as area.

Land Recreation > Golf > Golf Course

[2015-12-11 21:08] chadlawlis commented on #242
Presets to be regenerated early next week, this should be available after that.

[2015-12-11 21:18] chadlawlis commented on #297
"Athletic Field"

[2015-12-11 21:24] cwlawlis802 opened #328 "Add preset "Webcam""
http://wiki.openstreetmap.org/wiki/Tag:man_made%3Dsurveillance

[2015-12-11 21:29] cwlawlis802 opened #329 "Add preset "Fumarole""
Holes in the ground that blow steam, but water never comes out of them.

Some are well established and named in YELL.

[2015-12-11 21:29] cwlawlis802 opened #330 "Add preset "Hot Spring""

[2015-12-11 21:30] cwlawlis802 opened #331 "Add preset "Natural Feature""
`{"natural":"*}`

[2015-12-11 21:34] cwlawlis802 opened #332 "Add preset "Bookstore""
`{"shop":"books"}`

[2015-12-11 22:04] chadlawlis commented on #208
After further discussion, we are going with "Park" after all.

Added as `{"leisure":"park"}`. Land Recreation > Park > Park.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:13] chadlawlis commented on #297
Added as `{"leisure":"pitch"}` as point and area. Land Recreation > Sports Field > Athletic Field.

"Sports Field" class to include more types down the road, per sport (baseball field, basketball court, tennis court, etc).

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:19] chadlawlis commented on #274
Added "Cinema" as `{"amenity":"cinema"}`. Service > Entertainment > Cinema.

Added "Library" as `{"amenity":"library"}`. Service > Library > Library.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:24] chadlawlis commented on #205
Added "Fire Hydrant" as `{"emergency":"fire_hyrant"}`. Service > Support > Fire Hydrant.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:26] chadlawlis commented on #328
Added "Webcam" as `{"man_made":"surveillance"}`. Service > Surveillance > Webcam.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:30] chadlawlis commented on #329
Added "Fumarole" as `{"natural":"fumarole"}`. Natural Feature > Thermal > Fumarole.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:34] chadlawlis commented on #329
Currently varying proposed tags in OSM:

`{"natural":"fumarole"}`: http://wiki.openstreetmap.org/wiki/Proposed_features/fumarole

`{"geological":"volcanic_fumarole"}`: http://wiki.openstreetmap.org/wiki/Proposed_features/Volcanic_features#Fumaroles

Going with the former to stay consistent with how we've been tagging thermal features thus far.

[2015-12-11 22:34] chadlawlis commented on #330
Currently a proposed feature in OSM: http://wiki.openstreetmap.org/wiki/Proposed_features/Hot_Spring.

[2015-12-11 22:34] nateirwin commented on #326
Darn.

If that doesn't work, our only other option is going to be the "Web Tiled Layer", though it probably won't work either because  CartoDB tiled layers are "dynamic", so you must make a request to get an id before requesting individual tiles from their content delivery network.

Seems like this probably isn't going to work. It's really odd they don't support GeoJSON. That would work perfectly.

[2015-12-11 22:36] chadlawlis commented on #330
Added "Hot Spring" as `{"natural":"hot_spring:}`. Natural Feature > Thermal > Hot Spring.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:41] chadlawlis commented on #331
Added "Natural Feature" as `{"natural":"*"}`. Natural Feature > Natural Feature > Natural Feature.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:47] chadlawlis commented on #332
Added "Bookstore" as `{"shop":"books"}`. Service > Shopping > Bookstore.

Presets to be regenerated early next week, this should be available after that.

[2015-12-11 22:58] chadlawlis commented on #76
@jimmyrocks this should be all set - building has layerIndex of 70 while parking has layerIndex of 10.

[2015-12-11 22:58] #76 closed

[2015-12-14 15:05] jakecoolidge commented on #226
Reopening; after review, Eric and co. found things to revise in the source data. Seeding will require a replication of the previous effort. Links and tagging schema remain the same.

[2015-12-14 16:13] cwlawlis802 opened #333 "MORA trails"
From Anne @ MORA.

Data [here](https://drive.google.com/drive/u/0/folders/0B0AXEdn7N9KbVFNFQkdCcVFBajg).

[2015-12-14 17:45] mtaylorlong commented on #268
@jimmyrocks: I haven't made any changes to PT3 to take advantage of these yet. But I'm guessing they'll be fine. I'll let you know when I actually start working with them.

[2015-12-14 18:04] jimmyrocks commented on #268
Cool, no rush… I'll just leave this open for the time being

On Mon, Dec 14, 2015 at 12:45 PM, Taylor Long notifications@github.com
wrote:

[2015-12-14 19:14] chadlawlis commented on #333
Remove existing trails and replace with these:

[2015-12-14 20:49] nateirwin commented on #291
How is this looking right now? I'm working on the HFC park map viewer, and it looks like SEKI still doesn't have a record in our parks table. Is there a table currently available on CartoDB that allows me to make the SEQU/KICA -> SEKI translation?

[2015-12-14 21:10] chadlawlis commented on #291
This field has not yet been populated in the PostGIS parks table and is not available in CartoDB. I can add this field directly into CartoDB for now, for an interim solution for SEKI and any other parks you come across for the HFC viewer, but this is not something that has been established across all NPS units. Writing the PostGIS table out to CartoDB also appears to be experiencing issues (cc @ji

[2015-12-14 21:24] nateirwin opened #334 "Mismatches between HFC park maps list and our parks table"
HFC has maps for the following unit_codes, but they are missing from our CartoDB parks table:

unit_code,url,full_name
'alas', ,
'aleu', http://www.nps.gov/aleu, Aleutian World War II National Historic Area
'amre', ,
'azte', ,
'blac', http://www.nps.gov/blac, Blackstone River Valley National Heritage Corridor
'cali', http://www.nps.gov/cali, California National Historic Trail
'chna', ,
'copa', ,
'

[2015-12-14 21:28] mtaylorlong commented on #291
Really, all we need is to add a record for SEKI in our Parks table, then create a multi-polygon for it's boundary using both the SEQU and KING boundaries. Once that's pushed to the new CartoDB table, you should be good to go.

I agree that setting up the alternate unit codes info is still a good idea, but I don't think it's intended to address issues like this one.

[2015-12-14 23:51] chadlawlis commented on #334
The following have been added to both PostGIS and CartoDB `parks` tables (along with PostGIS `parks_poly` and `parks_line`), _without geometries_:

| unit_code | url | full_name |
| --- | --- | --- |
| aleu | http://www.nps.gov/aleu | Aleutian World War II National Historic Area |
| blac | http://www.nps.gov/blac | Blackstone River Valley National Heritage Corridor |
| cali | http://www.nps.gov/ca

[2015-12-14 23:52] chadlawlis commented on #334
@nateirwin should i add these remaining units in with just their unit codes? None seem to align with any "alternate unit codes" we've identified thus far.

[2015-12-14 23:53] chadlawlis commented on #291
SEKI has been added as union of SEQU and KICA `WSD_Parks` geometries.

[2015-12-14 23:59] cwlawlis802 opened #335 "Create regional units as multipolygons"
Currently using `ST_Union(geom1, geom2)` to merge subunit geometries into larger regional unit (e.g. SEQU + KICA = SEKI), but we need to do this in a way to maintain dividing line between the two as a multipolygon.

[2015-12-15 00:00] chadlawlis commented on #335
http://stackoverflow.com/questions/24184927/postgis-merge-multipolygons-and-keeping-boundaries

[2015-12-15 00:08] cwlawlis802 opened #336 "JAME & YORK unit_name_short and unit_name_long"
JAME and YORK include "Part of Colonial National Historical Park Virginia" in their name/designation on NPS.gov. We should figure out how best to record their names in our boundary tables.

Possible solution:

unit_name_short | unit_name_long
---------------------- | ---------------------
Historic Jamestowne | Historic Jamestowne - Part of Colonial
Yorktown Battlefield | Yorktown Battlefield - Par

[2015-12-15 00:28] mtaylorlong commented on #298
Done. Updated all necessary fields for rendering in boundaries vector tiles and added region code, state, and website.

[2015-12-15 00:28] #298 closed

[2015-12-15 00:36] mtaylorlong commented on #288
Done.

[2015-12-15 00:36] #288 closed

[2015-12-15 01:04] mtaylorlong commented on #323
Done. I eye-balled it. Should work.

[2015-12-15 01:04] #323 closed

[2015-12-15 01:25] mtaylorlong commented on #336
How about this:

Short Names:
- Historic Jamestowne NHP
- Yorktown Battlefield NHP

Long Names:
- Historic Jamestowne - Colonial National Historic Park
- Yorktown Battlefield - Colonial National Historic Park

| unit_name_short | unit_name_long | unit_desig_abbr | unit_desig_full | subunit_of |
| --- | --- | --- | --- | --- |
| Historic Jamestowne | Historic Jamestowne - Colonial | NHP | National

[2015-12-15 01:26] mtaylorlong commented on #335
This would be cool. Would we store these in a separate regions table?

[2015-12-15 01:33] mtaylorlong opened #337 "Park labels disappear when unit_desig is NULL"
@jimmyrocks: We were missing quite a few labels in the National Mall area, and I believe the problem seems to be that these labels have NULL in their designation fields. I'm guessing that when the name and designation are put together, the NULL values are throwing an error that results in no name at all.

Is there any way you can modify the rendering process so that labels are still made for parks

[2015-12-15 02:46] jimmyrocks commented on #337
I can replace all NULL values with '', blank text values. This will be done
using the coalesce(field, '') function

On Mon, Dec 14, 2015 at 8:33 PM, Taylor Long notifications@github.com
wrote:

[2015-12-15 14:23] nateirwin commented on #336
I'm actually not sure we need to add "Colonial" to the name at all. I know it's on their website, but I would say that most visitors probably don't care that Jamestowne and Yorktown are part of Colonial. That's something we care about internally, but it would be like saying "Washington Monument - Part of National Capital East".

[2015-12-15 14:25] nateirwin commented on #334
Nah, I say let's leave them out for now. It seems to me like HFC invented some unit codes when they created new maps. Let's just add them, one-by-one, if/when they come up.

Closing. Thanks, @cwlawlis802!

[2015-12-15 14:25] #334 closed

[2015-12-15 15:32] mtaylorlong commented on #337
Sounds good. That should solve the problem. We'll see after next time you run the tiles. When you're finished with the replace, you can close this issue.

[2015-12-15 15:34] jimmyrocks commented on #337
The new ones will be run today, so I would expect to see them live by
tonight / tomorrow morning.

On Tue, Dec 15, 2015 at 10:32 AM, Taylor Long notifications@github.com
wrote:

[2015-12-15 15:37] mtaylorlong commented on #336
Ooh - love the Washington Monument analogy @nateirwin. I'm convinced.

We do, however, still need to think about how the labeling works. Do y'all think it's okay to handle this like other subunits with the Colonial NHS label showing at smaller scales, then going away at larger scales when Jamsetowne and Yorktown appear?

[2015-12-16 00:56] nateirwin commented on #336
That sounds like a good approach to me.

[2015-12-16 12:24] tpcolson opened #338 "CDB Extract does not support more than 254 characters"
Many "GIS" fields are concatenated into one field "Tags", which, when extracted as a Esri Shapefile, is truncated to 254 characters.

[2015-12-16 16:52] nateirwin commented on #338
I'm going to change the title to "CartoDB extracts should break up some tags into individual columns".

The 255 character limit is a limitation of the shapefile format, and we can't work around that. CartoDB does support a number of other formats that don't have the 255 character limitation, so I would recommend using one of those. It's crazy that Esri doesn't support bringing in GeoJSON files, bu

[2015-12-16 20:24] jakecoolidge commented on #280
POIs for the core DC area uploaded today. Will prioritize outlying areas once Cynthia returns from travel.

[2015-12-16 20:25] jakecoolidge commented on #278
Paths and trails in the core DC area uploaded to Places today. Cynthia and I agree the NCR trails/paths most in need of revision are found adjacent to NAMA. Will prioritize the remainder of the updates when Cynthia returns from travel.

[2015-12-16 22:33] mtaylorlong opened #339 "EFMO Boundary Update"
Jessica from Effigy Mounds National Monument noticed that our boundary for EFMO is incorrect. I've asked her to send us the correct boundary or point us to a better source.

![screen shot 2015-12-16 at 3 30 57 pm](https://cloud.githubusercontent.com/assets/4741443/11855897/449fd380-a40a-11e5-9b53-a856d50c3476.png)

[2015-12-16 22:47] mtaylorlong commented on #287
Richard sent us the best available boundary for Waterton. I let him know that we'd need a little more time to decide how to symbolize this boundary on the map. Here's the file:

[Waterton_Glacier_IPP.zip](https://github.com/nationalparkservice/places-data/files/64674/Waterton_Glacier_IPP.zip)

@cwlawlis802: Is there a place we can stash this until we're ready to add it to the parks table, or is ke

[2015-12-16 23:42] chadlawlis commented on #287
If it's a custom boundary, we typically like to add it to our [`Boundaries`](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbcU9RMDNrVTN4UDg) directory on Drive - which I've done [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbUFA3WlZCS1Y2aHc).

This is primarily for custom boundary tracking down the road, so everything is in one place.

[2015-12-16 23:49] chadlawlis commented on #286
I'd like to create a Boundaries page on insidemaps to house this documentation, acting as both a documentation of process and somewhat of a disclaimer.

I would also like to include a dynamic table, like we have for Places data:

![places insidemaps 2015-12-16 16-46-10](https://cloud.githubusercontent.com/assets/1238636/11857353/b1b9d7ea-a414-11e5-852f-8aea845745fa.jpg)

At the very least I would

[2015-12-17 14:57] nateirwin commented on #286
This is a great idea. It should be easy to implement once our new CartoDB table(s) are in place.

[2015-12-17 18:33] mtaylorlong opened #340 "Add Area Support for Superclass "Natural Feature""
I'm interested in using Natural Feature presets in Editor to add some physical context to our custom mobile basemaps. All the presets in the "Natural Feature" superclass are supported as points, but many of them should also be supported as areas. Rather than pick and choose, I think it would be simpler to update all of them so they can be tagged as points and/or areas.

Wetlands, for example, can

[2015-12-17 22:52] chadlawlis commented on #284
Table is live in CartoDB here: https://nationalparkservice.cartodb.com/u/nps/tables/alternate_unit_codes.

[2015-12-18 17:30] jakecoolidge commented on #226
With one exception: POILABEL should be used instead of POINAME for the `name` tag. POINAME can be retained as `alt_name`

[2015-12-21 14:54] chadlawlis commented on #315
This is live here: https://nationalparkservice.cartodb.com/u/nps/tables/parks_temp.

The sync script is on the .191 server in /home/jim/dev/scratch.

[2015-12-21 14:56] chadlawlis commented on #286
Great. We might as well create the table using the current CartoDB `park` table, which will be replaced by the current `parks_temp` table once we are ready to make the transition (the underlying query to the table should remain the same).

[2015-12-21 22:50] nateirwin commented on #264
How's this one coming along, @jimmyrocks? Seems like it may be fixed? Or you have some ideas on how we can improve this behavior?

[2015-12-21 23:10] chadlawlis commented on #286
Being developed here https://github.com/nationalparkservice/insidemaps/tree/boundaries-doc.

[2015-12-22 13:11] tpcolson opened #341 "PT 3.0: Campground symbols do not render consistently"
At seeming odd levels and extents, campground symbols turn on and off. Campgrounds, arguably more cartographically significant than parking spaces and trailheads, should be symbolized clearly and consistently.

![image](https://cloud.githubusercontent.com/assets/5861784/11955838/4abe679a-a883-11e5-8462-28c965ae29d1.png)

![image](https://cloud.githubusercontent.com/assets/5861784/11955845/54d7f4ee

[2015-12-22 15:00] nateirwin commented on #341
Moved to the park-tiles repository: https://github.com/nationalparkservice/park-tiles/issues/175. Closing here.

[2015-12-22 15:00] #341 closed

[2015-12-22 17:06] jakecoolidge commented on #225
Seeding will be handled by sync tool.

[2015-12-22 17:06] #225 closed

[2015-12-22 17:06] jakecoolidge commented on #224
Seeding will be handled by sync tool.

[2015-12-22 17:06] #224 closed

[2015-12-22 17:06] jakecoolidge commented on #223
Seeding will be handled by sync tool.

[2015-12-22 17:06] #223 closed

[2015-12-22 17:07] jakecoolidge commented on #220
Seeding will be handled by sync tool.

[2015-12-22 17:07] #220 closed

[2015-12-22 17:07] jakecoolidge commented on #215
Seeding for BLCA and CURE handled concurrently. Seeding will be handled by sync tool.

[2015-12-22 17:07] #215 closed

[2015-12-22 17:08] jakecoolidge commented on #162
Seeding will be handled by sync tool.

[2015-12-22 17:08] jakecoolidge commented on #163
Seeding will be handled by sync tool.

[2015-12-22 17:08] jakecoolidge commented on #165
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #166
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #210
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #211
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #213
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #214
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #216
Seeding will be handled by sync tool.

[2015-12-22 17:09] jakecoolidge commented on #217
Seeding will be handled by sync tool.

[2015-12-22 17:10] jakecoolidge commented on #218
Seeding will be handled by sync tool.

[2015-12-22 17:10] jakecoolidge commented on #219
Seeding will be handled by sync tool.

[2015-12-22 17:10] jakecoolidge commented on #221
Seeding will be handled by sync tool.

[2015-12-22 17:10] jakecoolidge commented on #222
Seeding will be handled by sync tool.

[2015-12-22 17:11] #162 closed

[2015-12-22 17:11] #163 closed

[2015-12-22 17:11] #165 closed

[2015-12-22 17:11] #166 closed

[2015-12-22 17:11] #211 closed

[2015-12-22 17:11] #213 closed

[2015-12-22 17:11] #214 closed

[2015-12-22 17:11] #216 closed

[2015-12-22 17:11] #217 closed

[2015-12-22 17:11] #218 closed

[2015-12-22 17:11] #219 closed

[2015-12-22 17:11] #221 closed

[2015-12-22 17:11] #222 closed

[2015-12-22 17:11] #210 closed

[2015-12-22 17:15] nateirwin opened #342 "LAVO buildings"
From Elizabeth Hale, the park's GIS Specialist:

[Link to dataset](https://drive.google.com/open?id=0B9Ygi7kxEFrBUmNPY2VVQU1XaUk)

[2015-12-22 17:17] chadlawlis commented on #333
This is currently on hold, awaiting a response from Anne re: the larger PWR seeding effort.

[2015-12-22 17:19] jakecoolidge opened #343 "FOLS data seed"
Relegated to the spam folder on Nov. 30(?):

"I have GIS information from Fort Larned NHS for you. Please let me know if you have any questions or need more information from us."

[2015-12-22 17:25] jimmyrocks commented on #264
The issue was with conflicting tags. We cleaned up many of the conflicting
use type tags and updated them in the editor / rendered tiles.

This specific issue shows a tag conflict between "Primitive Camping" and
"Horse Camping". Since it matches the same amount of tags for both of these
presets. These presets are set to be assigned in an order if more than one
preset is matched, and "Primitive Cam

[2015-12-22 17:29] tpcolson commented on #264
I think there are two issues here: Front-country and back-country. A front-country horse campground, one you can drive your horsie trailer to (and one that you would not otherwise want to camp at), is generally symbolized with the HFC "horse inside a building" icon, while a back-country campsite (primitive) which coincidentally allows horses, would get the same icon as any other BC site (A tent, o

[2015-12-22 17:50] nateirwin commented on #340
Cc/ @asouthwould

[2015-12-22 18:01] nateirwin commented on #332
Cc/ @asouthwould

[2015-12-22 18:01] nateirwin commented on #331
Cc/ @asouthwould

[2015-12-22 18:01] nateirwin commented on #330
Cc/ @asouthwould

[2015-12-22 18:01] nateirwin commented on #329
Cc/ @asouthwould

[2015-12-22 18:01] nateirwin commented on #328
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #297
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #275
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #274
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #255
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #242
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #208
Cc/ @asouthwould

[2015-12-22 18:02] nateirwin commented on #205
Cc/ @asouthwould

[2015-12-22 18:06] chadlawlis commented on #340
+1

This is something we've been interested in implementing for a little while now. We'll just need to publicize the best practice of adding a point when drawing an area, similar to parking lots.

[2015-12-22 18:15] nateirwin commented on #106
Closing this for now. The outstanding items have been moved into individual issues.

[2015-12-22 18:15] #106 closed

[2015-12-22 18:25] jakecoolidge commented on #343
Data stored [here](https://drive.google.com/open?id=1D-U5_MwLSuXzB0Koi2Si5W_HtdfE26gEp7Oi0OVlV6Y). Data stored as lat/lngs in a table, inside a Google Document. Polygons are represented as a series of coordinates, so some conversion will be necessary.

[2015-12-22 18:36] jimmyrocks commented on #343
This is the kind of fun data transformation I like to do! Let me know if
you need it in geojson, and I can write a script for you.

On Tue, Dec 22, 2015 at 1:25 PM, Jake Coolidge notifications@github.com
wrote:

[2015-12-22 19:19] cwlawlis802 opened #344 "Add preset "Boardwalk""
Moving over from here https://github.com/nationalparkservice/places-editor/issues/94.

This has not been added to the preset spreadsheet. cc @mtaylorlong

[2015-12-22 19:20] chadlawlis commented on #344
FYI @asouthwould

[2015-12-22 19:21] cwlawlis802 opened #345 "Add "Steps" as structure, not preset"
Moving over from https://github.com/nationalparkservice/places-editor/issues/87.

This presented a problem last time this was discussed. cc @jimmyrocks @nateirwin

[2015-12-22 19:23] cwlawlis802 opened #346 "Preset fields not currently supported"
Moving over from https://github.com/nationalparkservice/places-editor/issues/58.

Many of these fields may be antiquated, will need to be re-evaluated.

[2015-12-22 19:26] jakecoolidge commented on #343
Hey @jimmyrocks, as long as the output is readable in QGIS, I'm set. Script at will! ;)

[2015-12-22 19:30] chadlawlis commented on #345
FYI @asouthwould

[2015-12-22 20:48] cwlawlis802 commented on #284
Note to revisit FRSP vs. FRED: https://github.com/nationalparkservice/places-data/issues/324.

[2015-12-22 21:00] cwlawlis802 opened #347 "NCR boundary replacement"
From Cynthia @ NCR, 12/22/15:

Data [here](https://drive.google.com/a/partner.nps.gov/file/d/0B0AXEdn7N9KbMElQbEo2ejF0WGs/view).

Background (from Cynthia, 12/17/15):

[2015-12-22 21:00] chadlawlis commented on #279
Hopefully the new boundaries from Cynthia will address this: https://github.com/nationalparkservice/places-data/issues/347.

[2015-12-22 21:01] chadlawlis commented on #322
Reach out to Cynthia, GIS Specialist @ NCR, about this.

[2015-12-22 21:52] cwlawlis802 opened #348 "Transition away from WSD_Parks boundary source"
- [ ] Identify boundaries currently pulling from WSD_Parks equivalent to the latest Lands release and transition to Lands where possible.
- [ ] Manually compare remaining WSD_Parks to latest Lands release and transition where possible.

[2015-12-22 21:54] cwlawlis802 commented on #348
[code]

[2015-12-23 18:44] chadlawlis commented on #284
Added `unit_code = 'wamo'` (currently used in our table, also on NPS.gov http://www.nps.gov/wamo/index.htm), `alt_unit_code = 'wash'` (listed on http://inside.nps.gov/index.cfm?handler=parkunitlist) for "Washington Monument".

[2015-12-23 18:57] chadlawlis commented on #287
@mtaylorlong was this added as `unit_code = inpe` to our parks tables? I'm just trying to sort out the unit codes that don't align with NPS.gov.

[2015-12-23 19:24] chadlawlis commented on #317
For `unit_url`, I compared our unit codes against those on http://inside.nps.gov/index.cfm?handler=parkunitlist.

This list has 486 unit codes, while we have 427 records (each with a unique unit code) in PostGIS parks. 417 of these match the NPS.gov list, while the following 10 do not:
1. `obri` (we use `obed`)
2. `jofk` (not on nps.gov)
3. `losa` (considered part of `sacn` on nps.gov)
4. `cong` (

[2015-12-23 19:38] frogmapr commented on #326
Hi Nate,

Would we be able to enable the OGC WMS add-on function in CartoDB?

See this link: http://blog.cartodb.com/wms-support/

On 12/11/15, Nate Irwin notifications@github.com wrote:

##

Andrew Neal Jander
GIS Specialist
Voluntario, Peace Corps
Delegación SEMARNAT Puebla
Calle 3 Poniente #2926
Col. La Paz, Puebla, Mexico
CP 72160
Blog: http://lostaxisgis.wordpress.com/
Email: nealjander@gmail

[2015-12-23 19:43] chadlawlis commented on #284
Added `unit_code = 'cong'` (currently used in our table, also on NPS.gov http://www.nps.gov/cong/index.htm), `alt_unit_code = 'cosw'` (listed on http://inside.nps.gov/index.cfm?handler=parkunitlist) for "Congaree National Park".

[2015-12-23 19:56] chadlawlis commented on #317
I took the same approach to `unit_region`.

The update query, based on the NPS.gov list:

[code]

And the remainder:

[code]

This leaves only `inpe` "International Peace Garden Memorial" without a `unit_region`.

[2015-12-23 20:21] chadlawlis commented on #317
And the same approach to `unit_state`.

The update query, based on NPS.gov:

[code]

And the remainder:

[code]

This leaves only `inpe` "International Peace Garden Memorial" without a `unit_state`.

[2015-12-23 20:41] chadlawlis commented on #317
All set here.

[2015-12-23 20:41] #317 closed

[2015-12-23 20:50] chadlawlis commented on #284
This is live and has been populated with all alternate unit codes that I have come across in reviewing the NPS.gov list. I'm sure more will come into play over time, but closing this out as a finished initial effort.

[2015-12-23 20:50] #284 closed

[2015-12-23 20:50] chadlawlis commented on #284
Note to revisit FRSP vs. FRED: https://github.com/nationalparkservice/places-data/issues/324.

[2015-12-23 20:53] nateirwin commented on #284
Thanks, @cwlawlis802. I'm using this in the new HFC park map interface now.

[2015-12-23 21:04] chadlawlis commented on #315
This table is live and the sync tool is in development.

Closing out now, but noting that we will rename this to replace the existing CartoDB `parks` table once sync is functional. At that point we will rename the current `parks` table and maintain only the attribute information that is not housed elsewhere (e.g. `address`, `blurb`, `climate`, etc in the event a service relies on it that we are un

[2015-12-23 21:04] #315 closed

[2015-12-23 21:09] chadlawlis commented on #286
Remaining to-do:
- [ ] Transition WSD_Parks to Lands or park/region `data_source` (https://github.com/nationalparkservice/places-data/issues/348)
- [ ] Add boundary download field to Places landing page dynamic table on insidemaps(https://github.com/nationalparkservice/insidemaps/issues/70)
- [x] Add step by step language of ideal boundary update process including Lands and parks/regions
- [x] Add

[2015-12-23 21:10] chadlawlis commented on #322
My question to Cynthia on 12/22/15:

Her response:

[2015-12-23 21:36] chadlawlis commented on #348
Here is the current status of `WSD_Parks` presence, by `unit_region`, ordered by the total number of units pulling from `WSD_Parks` (to give us a prioritized list for tackling the transition):

| unit_region | wsd_parks_count | unit_region_total | wsd_parks_pct |
| --- | --- | --- | --- |
| imr | 76 | 87 | 87 |
| ser | 56 | 68 | 82 |
| pwr | 48 | 66 | 73 |
| mwr | 46 | 62 | 74 |
| ner | 44 | 87 |

[2015-12-23 22:04] cwlawlis802 opened #349 "Harmony Hall "HAHA" missing from PostGIS `parks`"
It's in CartoDB `parks` with a geometry, which is surprising.

Needs to be added into PostGIS `parks` - new boundary is included here https://github.com/nationalparkservice/places-data/issues/347 so just make sure to cross-reference with existing fields in CartoDB.

[2015-12-23 22:20] chadlawlis commented on #347
32 units are included here, 22 of which have unit codes matching existing records in our parks table, 18 out of those 22 are currently pulling from `WSD_Parks`. 9 of the remaining 10 are actually in our CartoDB parks table, 7 of which are currently pulling from `WSD_Parks`. So, 31 of the 32 unit codes match up with a combination of PostGIS and CartoDB parks, 25 of which are currently pulling from

[2015-12-23 22:28] chadlawlis commented on #347
Boundaries 23-31 were not included in PostGIS parks originally, to prevent them from rendering, but we will be rendering them now that NCR has cleaned them up. Any boundary record will be housed in this table moving forward, anyway, given it is writing into CartoDB (i.e. the master boundary source).

[2015-12-23 22:30] chadlawlis commented on #348
All 25 NCR units currently pulling from `WSD_Parks` will be transitioned away from this thanks to https://github.com/nationalparkservice/places-data/issues/347#issuecomment-167001530, so no need to worry about NCR in this manual compare.

[2015-12-23 22:33] chadlawlis commented on #349
Closing this, no need for individual issue given this not being included was originally intentional.

Refer to #347 for NCR boundary additions back into PostGIS parks table.

[2015-12-23 22:33] #349 closed

[2015-12-23 22:35] chadlawlis commented on #347
Add `suit` in as well, despite it being a parkway.

[2015-12-28 15:42] mtaylorlong commented on #287
As far as I know, the Waterton Lakes and International Peace Park have not been added to our tables. We just stored the boundaries and are still on hold for figuring out how to implement these boundaries in Park Tiles 3.

[2015-12-28 17:41] chadlawlis commented on #287
Thanks. Looks like INPE is a memorial in North Dakota, near the border with Canada.

[2015-12-28 17:58] jakecoolidge commented on #342
attributes were converted to tags as follows:

#### added

nps:source_system=LAVO_Buildings_Places_20151207.gdb
nps:source_system_key=Building_ID
building=yes

#### modified

Building_ID -> nps:source_system_key_value
Unit_Code -> nps:unit_code (entries made lowercase)
FMSS_ID -> nps:fmss_location_id
Places_Name -> name

#### deleted

Geometry_ID
Polygon_Type
Is_Extant
Edit_Date
Map_Method
Admin_T

[2015-12-28 17:58] #342 closed

[2015-12-29 16:17] nateirwin commented on #326
We could try it, but I don't think it's going to do what you're looking for. WMS coming out of CartoDB is just going to be a set of rasters that aren't "interactive". I'm happy to give it a try though. Which account should we enable it for?

[2015-12-30 18:51] jakecoolidge opened #350 "add access tag to Places polygons"
Some buildings in Cape Hatteras are closed to the public, and we'll need to handle their appearance differently in the mobile basemap. The buildings in question are currently tagged `access:no` in Places.

[2015-12-30 18:56] jakecoolidge commented on #350
false alarm; tags appeared in MB Studio after refresh. (?)

[2015-12-30 18:56] #350 closed

[2016-01-04 20:32] jakecoolidge commented on #212
Seeding using [this service](http://insideimrgis.nps.gov/arcgis/rest/services/ParkTiles/BLCA_CURE/FeatureServer)

Tag conversions (attributes not converted were deleted)

#### POI

POINAME name
POITYPE deleted after each unique value received appropriate tags
- Amphitheater (amenity:theatre; theatre_type:amphi)
- Boat Launch (leisure:slipway)
- Campground (tourism:camp_site)
- Dump Station (amenit

[2016-01-05 15:32] mtaylorlong opened #351 "Add symbol name as POI attribute in Mapbox Tiles"
In an effort to support more POI types while keeping our CartoCSS slim, we want to write symbol names into our POI vector tiles as an attribute named `symbol`.

@jimmyrocks: How soon can you work this into the rendering for POI's? I'm guessing the best place to store this info is in the NPS_Preset_Classes spreadsheet, but let me know if there's a better place. I'd like to be able to adjust as need

[2016-01-05 15:45] mtaylorlong opened #352 "Replace OSM highway shields with NPS highway shields inside park boundaries"
OSM highway shields are still showing up inside of park boundaries, and it looks strange where parks haven't yet drawn in the roads. We did this because the OSM data has the necessary attributes to detect highways and most NPS data would need to be modified to sort this out.

For the second beta update of PT3, I'm removing these shields inside park boundaries. I'm going to try to implement our own

[2016-01-05 15:50] mtaylorlong opened #353 "Replace OSM place names inside parks with places locality labels"
Place names are one of the last hold outs of OSM data we show inside parks. There are many places where this context is useful, but there are cases where the park wants them edited, moved, or removed.
As long as these names come from OSM, the parks can't change them in places. So, I'm removing these place names inside parks boundaries and implementing the use of the `locale` preset to label such p

[2016-01-05 15:57] jimmyrocks commented on #351
This method won't allow for it frequent changes to the tags or their attributes (such as icon name). This is because we assign the presets as soon as the item is contributed and cache that information. There is a script that can be run on demand to update all presets that have changed, but this script takes about 60 minutes to complete.

I do have an idea that would speed this process up substanti

[2016-01-05 16:04] jimmyrocks commented on #242
"Carriage Road" `{"highway":"bridleway"}`. Doesn't appear to exist in the NPS_Preset_Classes list, is this an error, or was it removed for a reason?

[2016-01-05 16:05] jimmyrocks commented on #337
@mtaylorlong This should be fixed, can you verify that it is working the way you intend?

[2016-01-05 16:07] nateirwin commented on #351
Unfortunately, I think we'll want the symbol name in CartoDB as well. That way we can pull it from there for the vector rendering approach.

[2016-01-05 16:16] mtaylorlong commented on #351
Yeah. I wish we could just implement the simpler approach for PT3, but we need to demo that overlay approach soon, so I agree with Nate that the names need to be in cartodb. This just means we'll need to be a little more thoughtful about how we implement this and make updates.

I can work up a final list and deliver it tomorrow. If I need to make any changes, we can do another update in a couple w

[2016-01-05 16:18] jimmyrocks commented on #351
I would prefer to keep it in the same workflow as the presets in CartoDB
for simplicity, but it would come at the cost of the ability to rapidly
change icons.

Although, since vector tiles are only run once a day, we would only need to
change icons, at most, once a day.

We may be able to run the update script overnight (it may take up to 90
minutes) every day until we decide that we are solid wit

[2016-01-05 16:19] jimmyrocks commented on #351
For reference, this is the current update script:

[code]

[2016-01-05 19:39] mtaylorlong commented on #352
In order to implement route numbers using places data, we would need to change some things in Places, so this may not be feasible in our first release of Park Tiles 3. @jimmyrocks explained that OSM handles route numbers with relations, but this may be difficult to copy since we handle our vector tiles differently. It sounds like the simple approach would be to treat all highways the same (using t

[2016-01-06 20:30] cwlawlis802 opened #354 "FODA boundary parcel showing up in DC"
This is the landing zoom when searching for "Fort Davis National Historic Site" in PT3:

![foda_landing](https://cloud.githubusercontent.com/assets/1238636/12153736/c44f0884-b478-11e5-90cf-321c262141ff.jpg)

This is because of an unassociated parcel labeled as `unit_code = 'foda'` in DC:

![park tiles 3 insidemaps 2016-01-06 13-27-26](https://cloud.githubusercontent.com/assets/1238636/12153816/4ec

[2016-01-06 20:40] chadlawlis commented on #354
New, single boundary [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbQ0gta0FCcnh0ZlU).

[2016-01-06 21:11] cwlawlis802 commented on #354
The boundary has been corrected, leaving this open for PT3 labeling issue.

[2016-01-06 21:14] cwlawlis802 opened #355 "FODA labeled twice"
FODA is labeled twice at Z10-13:

![park tiles 3 insidemaps 2016-01-06 13-29-58](https://cloud.githubusercontent.com/assets/1238636/12153872/9b6abf7a-b479-11e5-8a2a-eec7a9b0bddb.jpg)

cc @mtaylorlong.

[2016-01-06 21:14] chadlawlis commented on #354
Boundary has been fixed.

Labeling issue now here: https://github.com/nationalparkservice/places-data/issues/355.

[2016-01-06 21:14] #354 closed

[2016-01-06 22:27] jakecoolidge opened #356 "AMIS labels twice"
Perhaps similar to [FODA](https://github.com/nationalparkservice/places-data/issues/355), Amistad NRA labels twice at zooms 7-9.

[2016-01-07 16:35] jakecoolidge commented on #343
#### Point data

Seeded with the following attribute-to-tag conversions:
Location -> name
The following attributes were not uploaded:
Equipment number (2 columns), PDOP, HAF

In all cases, the Location attribute serves as both a name and an indicator of the type of point of interest. The following categories were identified, the most similar preset selected, and tagged accordingly:
Monument `histo

[2016-01-07 17:49] jakecoolidge commented on #343
As captured in the raw DMS-to-geojson conversion process, the polygons for parking areas were coarse enough to warrant digitization from imagery within Places Editor. Data provided informed the digitization process.

[2016-01-07 17:49] #343 closed

[2016-01-07 18:02] jakecoolidge commented on #343
Digitized using Places Editor: roads, bridge, parking areas
Data not digitized--
--duplicates existing data:
- buildings (one key exception, the Cooling Unit & Condenser)

--outside the scope of Places:
- oxbow
- fences
- culverts

[2016-01-07 21:54] mtaylorlong opened #357 "Add BUFF simplified line geometry"
I want to prep Park Tiles 3 for handing simplified boundaries as lines (helpful for national trails, rivers, scenic byways, etc), so I'm going to experiment with the Buffalo National River (BUFF).

@cwlawlis802: Here's a shapefile of the line geometry to store in the parks line geometry table for BUFF.
- [buff_line.zip](https://github.com/nationalparkservice/places-data/files/81806/buff_line.zip)

[2016-01-07 22:41] cwlawlis802 opened #358 "Create SEKI boundary as multipolygon"
The current geometry was generated via `ST_Union(geom1, geom2)` which removes the dividing line between the two shapes. We need to generate it again in a way that maintains the dividing line, for use in PT3.

[2016-01-08 16:44] jimmyrocks opened #359 "Classes and Superclasses should maintain case"
Right now it converts them to lower case because it uses the directory names, but the full name is in there, so there might be a way to get it out of there. The problem is in this file:
https://github.com/nationalparkservice/places-data/blob/gh-pages/tools/compileId.js

[2016-01-08 18:02] jimmyrocks opened #360 "Add the parkTilesSymbol column"
Add the column to the JSON files and add a column for it in the database

This will be used to send the icon directly out to the vector tiles

[2016-01-08 18:03] jimmyrocks opened #361 "Add the parkTilesSymbol to vector tiles"
This will need to be done after this issue is closed: https://github.com/nationalparkservice/places-data/issues/360

[2016-01-08 18:04] jimmyrocks commented on #361
This is only for POIs

[2016-01-08 18:14] cwlawlis802 opened #362 "Update Lands boundaries with latest release"
Released 1/7/16: https://irma.nps.gov/App/Reference/Profile/2225713

#### New Units in this Release

- Big Hole National Battlefield (BIHO)
- Canyon de Chelly National Monument (CACH)
- Upper Delaware Scenic and Recreational River (UPDE)

#### Updated Units in this Release

- Alagnak Wild River (ALAG)
- Aniakchak National Monument (ANIA)
- Aniakchak National Preserve  (ANIA)
- Bering Land Bridge N

[2016-01-08 20:05] cwlawlis802 opened #363 "GLDE boundary + label not rendering"
@nateirwin noticed that the boundary for GLDE is currently not rendering or being labeled in PT3 (though we have a boundary) http://insidemaps.nps.gov/park-tiles-3/#17/39.93430/-75.14387:

![glde](https://cloud.githubusercontent.com/assets/1238636/12207945/dec086b8-b606-11e5-978e-d5465fcdc175.jpg)

This is because of how the carto fields in PostGIS `parks` are populated:

![glde_carto](https://clo

[2016-01-08 21:40] cwlawlis802 opened #364 "GLEC missing boundary geometry"
http://www.nps.gov/glec/index.htm

Part of NCR, but not included in NCR's boundary seed https://github.com/nationalparkservice/places-data/issues/347.

I will ping Cynthia @ NCR to see if this is intentionally not designated. It is not included in the latest Lands release.

[2016-01-08 21:48] chadlawlis commented on #347
Units with `unit_region = 'NCR'` currently in PostGIS `parks` table that were not included in NCR's boundary seed:
- **cahe**
  - this appears completely incorrect; consider removing altogether, but ping Cynthia to confirm that she does not have a unique geometry for it (it's a unit on NPS.gov, not included in NCR data though)
- **clba**
  - this appears to be correct; it does not overlap but is a

[2016-01-08 21:52] mtaylorlong opened #365 "Display Railroad Ways in Park Tiles"
Moved this issue over from [park tiles repo](https://github.com/nationalparkservice/park-tiles/issues/176) to here.

@nateirwin says: Railroads are critical features for many parks - especially historic parks (Civil War battlefields, etc.). We should render them before the final release of PT3.

A good example is Steamtown National Historic Site:

http://insidemaps.nps.gov/places/editor/#backgroun

[2016-01-08 23:59] chadlawlis commented on #347
Guidance re: boundary sources, from Cynthia:

[2016-01-09 20:55] nateirwin opened #366 "Missing boundaries for eight units"
The following units have a website but do not have a boundary in our database:

- CLMO
- DABE
- GREG
- IATR
- NPNH
- OKCI
- ROCA
- TOSY

I found these by going through the [list of brochure maps](http://www.nps.gov/hfc/cfm/carto-atoz.cfm) on the HFC site and comparing it to our parks table. It would be good to get these boundaries before we go live with PT3 to ensure that every park has at least o

[2016-01-09 20:56] nateirwin opened #367 "Polygon boundary and label never display for THKO"
http://insidemaps.nps.gov/park-tiles-3/#19/39.94345/-75.14732

Cc/ @mtaylorlong

[2016-01-11 17:39] chadlawlis commented on #366
Thanks for generating this list, @nateirwin.

CLMO (NCR), DABE (MWR), GREG (NER), ROCA (NER), and TOSY (NER) do not have a geometry in our database (though GREG has a record) and are not included in Lands either. I can ping the regional GIS reps at NER and MWR to inquire.

IATR is a National Scenic Trail, which presents complications that @mtaylorlong is currently working through. Issue here https

[2016-01-11 17:42] chadlawlis commented on #291
Closing this and opening individual `subunit_of` issues per region, as they arise.

[2016-01-11 17:42] #291 closed

[2016-01-11 17:44] cwlawlis802 opened #368 "Populate `subunit_of` for GOGA"
Separating out from https://github.com/nationalparkservice/places-data/issues/291.

We currently have individual unit geometries for these "subunits":
- PRSF (though this boundary is not rendered in Park Tiles)
- FOPO
- SAFR
- MUWO

ALCA should also be included in this - it is included in our current GOGA geometry, but does not have a standalone unit geometry.

I am in touch with the GIS Specialis

[2016-01-11 17:45] cwlawlis802 opened #369 "Populate `subunit_of` for NPNH"
Separating out from https://github.com/nationalparkservice/places-data/issues/291.

cc @jakecoolidge

[2016-01-11 18:04] chadlawlis commented on #368
From glancing at this list http://www.nps.gov/goga/planyourvisit/index.htm it looks like the following are subunits of GOGA:
- ALCA
- MUWO
- Marin Headlands (no unit code)
- FOPO
- Crissy Field (no unit code; part of The Presidio PRSF though)
- SAFR

Still need to discuss/confirm with Craig.

[2016-01-11 18:15] chadlawlis commented on #369
This link http://www.nps.gov/npnh/planyourvisit/index.htm was provided by Mark. From this, it looks like the following are subunits of NPNH:
- AFBG
- CACL
- ELIS
- FEHA
- GATE
- GEGR
- GOIS
- HAGR
- SAPA
- STLI
- THRB

[2016-01-11 19:48] jimmyrocks commented on #291
The boundaries were just updated last night? Should I run it again tonight
to capture these changes?

On Mon, Jan 11, 2016 at 12:42 PM, Chad Lawlis notifications@github.com
wrote:

[2016-01-11 19:50] chadlawlis commented on #291
Thanks @jimmyrocks but let's wait until later this week - I'll ping you when appropriate.

[2016-01-11 22:57] chadlawlis commented on #347
Source translations:

[code]

[2016-01-12 00:39] chadlawlis commented on #347
Unit-specific adjustments:

CHOH included both NCR and Lands data, so I set the source for all of CHOH to NCR:

[code]

Anacostia Park included two unit codes, ANAC (10 of 11 rows) and NACE (1 of 11). I set the unit code for all ANAC to ANAC.

[2016-01-12 00:41] chadlawlis commented on #347
**Unit name / unit code differentiation for follow-up**:
- Fort Circle Parks includes two unit codes: ROCR (68 of 105 rows) and NACE (37 of 105 rows). Apparently Fort Circle Parks falls significantly into both ROCR and NACE - so, **how do we determine which unit code to use?**

![fort_circle_parks_unit_code](https://cloud.githubusercontent.com/assets/1238636/12277368/36ef39ae-b938-11e5-8a0b-3252e8

[2016-01-12 22:42] chadlawlis commented on #347
Pennsylvania Avenue National Historic Site is actually its own unit on NPS.gov with unit_code PAAV, so running with PAAV for this probably makes the most sense to limit complexity, while lumping the NACE section in with the NACE unit (which aligns well with that section of the NACE boundary currently in Places, anyway).

Fort Circle Parks is not its own unit, so this will still need to be determin

[2016-01-13 17:56] chadlawlis commented on #243
Digging back through email is this message from Eric at IMR from 12/3/15:

This point was previously available here https://github.com/nationalparkservice/places-data/issues/224, but has since been removed from the directory on Drive. I will ping Eric about this again.

I also contacted Melanie Sander, a "Student Park Guide" from 2013.

[2016-01-13 18:10] chadlawlis commented on #179
Unfortunately this was not actually included in the latest Lands release [20160107](https://irma.nps.gov/App/Reference/DownloadDigitalFile?code=533885&file=nps_boundary.zip).

I reached out to Roger @ Lands again today to see if he has anything he could pass along.

[2016-01-13 19:21] chadlawlis commented on #236
I emailed Angie and Regan about this today.

[2016-01-13 19:21] chadlawlis commented on #234
I emailed Angie and Regan about this today.

[2016-01-13 19:22] chadlawlis commented on #236
There is currently no record for this unit in PostGIS `parks`, which I will add today. I will populate the `geom_poly` once we have a geometry to use.

[2016-01-13 19:29] cwlawlis802 opened #370 "Missing DABE boundary"
Separating out from https://github.com/nationalparkservice/places-data/issues/366.

This appears to be the only unit in MWR that we are missing a boundary for (so far as we know). I emailed Anthony G. about it today.

I will create a record in PostGIS `parks` and load the geometry once we have it.

[2016-01-13 19:36] chadlawlis commented on #8
This will be addressed by the NCR boundary replacement here https://github.com/nationalparkservice/places-data/issues/347.

[2016-01-13 19:36] chadlawlis commented on #7
This will be addressed by the NCR boundary replacement here https://github.com/nationalparkservice/places-data/issues/347.

[2016-01-13 19:37] #7 closed

[2016-01-13 19:37] #8 closed

[2016-01-13 19:38] chadlawlis commented on #277
@mtaylorlong was this ever discussed/resolved with BLRI?

[2016-01-13 19:49] cwlawlis802 opened #371 "Missing CLMO boundary"
Separating out from https://github.com/nationalparkservice/places-data/issues/366.

Emailing Nigel about it today. I will create a record in PostGIS `parks` and load the geometry once we have it.

[2016-01-13 19:50] cwlawlis802 opened #372 "Missing GREG boundary"
Separating out from https://github.com/nationalparkservice/places-data/issues/366.

Emailing Nigel about it today. There is already a record in PostGIS parks so I will just load the geometry once we have it.

[2016-01-13 19:53] cwlawlis802 opened #373 "Missing ROCA boundary"
Separating out from https://github.com/nationalparkservice/places-data/issues/366.

Emailing Nigel about it today. I will create a record in PostGIS `parks` and load the geometry once we have it.

[2016-01-13 19:54] cwlawlis802 opened #374 "Missing TOSY boundary"
Separating out from https://github.com/nationalparkservice/places-data/issues/366.

Emailing Nigel about it today. I will create a record in PostGIS `parks` and load the geometry once we have it.

[2016-01-13 20:59] chadlawlis commented on #366
CLMO, DABE, NPNH, OKCI, ROCA, and TOSY were each added to `parks`, `parks_poly` and `parks_line`. Geometries will be added as they become available, which can be tracked on their individual issues - including GREG and IATR.

Closing.

[2016-01-13 20:59] #366 closed

[2016-01-13 21:00] chadlawlis commented on #370
[code]

[2016-01-13 21:00] chadlawlis commented on #236
[code]

[2016-01-13 21:01] chadlawlis commented on #243
[code]

[2016-01-13 21:01] chadlawlis commented on #179
[code]

[2016-01-13 21:02] chadlawlis commented on #371
[code]

[2016-01-13 21:02] chadlawlis commented on #373
[code]

[2016-01-13 21:03] chadlawlis commented on #374
[code]

[2016-01-13 21:03] chadlawlis commented on #178
[code]

[2016-01-13 21:03] chadlawlis commented on #182
[code]

[2016-01-13 21:06] chadlawlis commented on #369
Done.

[2016-01-13 21:06] #369 closed

[2016-01-13 21:08] cwlawlis802 opened #375 "Create NPNH as multipolygon"
See https://github.com/nationalparkservice/places-data/issues/369 for subunits.

[2016-01-13 21:10] cwlawlis802 opened #376 "Create GOGA as multipolygon"
See https://github.com/nationalparkservice/places-data/issues/368 for subunits and https://github.com/nationalparkservice/places-data/issues/240 for reference.

[2016-01-13 21:11] chadlawlis commented on #335
Separating out into individual issues:

NPNH https://github.com/nationalparkservice/places-data/issues/375
GOGA https://github.com/nationalparkservice/places-data/issues/376
SEKI https://github.com/nationalparkservice/places-data/issues/358

Will add others as they come up.

These will be stored in the PostGIS `parks` table as the geometry for each unit code.

[2016-01-13 21:11] #335 closed

[2016-01-13 23:35] chadlawlis commented on #243
From Natasha at the park, 1/13/16:

So, I will add [this point](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbSE55SHh3cHBqM1U) as `geom_point` for OKCI, which will allow us to label the unit, and leave `geom_poly` blank.

@nateirwin will work on supporting points in the npmap.js geocoder so that it can zoom to this unit without an area geometry.

[2016-01-13 23:46] chadlawlis commented on #243
Done.

[2016-01-13 23:51] cwlawlis802 opened #377 "Populate carto fields for OKCI"
This is only a point, so probably only requires `min_zoom_label`, `min_zoom_label_long`, and `min_zoom_label_center`.

[2016-01-13 23:53] chadlawlis commented on #243
Label should show up here: http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=19.14/-97.51668/35.47295.

[2016-01-14 23:50] cwlawlis802 opened #378 "Missing ALCA boundary"
See https://github.com/nationalparkservice/places-data/issues/240#issuecomment-162644360.

We need a standalone boundary to generate a label point and search landing extent.

[2016-01-15 20:23] mtaylorlong commented on #68
This OBED issue is still there. I just need to go into the parks table and fix its min_zoom settings. I'll try to take care of this soon.

[2016-01-15 20:27] mtaylorlong opened #379 "Release PT3 Internally"
Park Tiles 3 Beta was released internally (NPS-only) on November 25th, 2015.
Blog post: http://www.nps.gov/npmap/blog/park-tiles-3-beta-release.html
Link to viewer: http://insidemaps.nps.gov/park-tiles-3/

[2016-01-15 20:28] chadlawlis commented on #68
:+1:

Thanks, @mtaylorlong.

[2016-01-15 21:16] mtaylorlong opened #380 "Demonstrate POI Vector Overlay"
With the beta relase of Park Tiles 3, GIS staff at parks and regions identified concerns about certain types of POI's not showing up by default in Park Tiles 3. Park Tiles has always been, first and foremost, a basemap, designed with enough simplicity that a range of data types could be overlaid for custom maps. As such, we've always struggled with the addition of POI symbols – some are so importa

[2016-01-15 21:19] mtaylorlong commented on #380
In anticipation of the POI vector overlay solution, @jakecoolidge and @mtaylorlong have identified 20+ HFC symbols to add to our NPMap Symbol Library. We believe that after the addition of these symbols, our library will support the majority of POI's parks are interested in using.

[2016-01-15 21:23] mtaylorlong opened #381 "Remove POI's from PT3"
Based on lengthy discussions with NPMap and regional GIS representatives, we've decided to remove POI's entirely from Park Tiles and replace them with a new vector overlay solution (see issue #380). Our goal is to offer a demonstration of the vector overlay approach along with our next update of Park Tiles 3 Beta.

[2016-01-15 21:26] mtaylorlong commented on #265
We've decided to remove POI's entirely from Park Tiles, and instead offer a more customizable POI vector overlay solution. See issues #381 and #380.

[2016-01-15 21:26] #265 closed

[2016-01-15 21:26] mtaylorlong commented on #263
We've decided to remove POI's entirely from Park Tiles, and instead offer a more customizable POI vector overlay solution. See issues #381 and #380.

[2016-01-15 21:26] #263 closed

[2016-01-15 21:29] mtaylorlong commented on #262
We've decided to remove POI's entirely from Park Tiles, and instead offer a more customizable POI vector overlay solution. See issues #381 and #380.

The good news related to this issue is that in the vector overlay approach, we can use HFC's cabin symbol to distinguish Historic Cabins from Hiker Shelters.

[2016-01-15 21:29] #262 closed

[2016-01-15 21:35] mtaylorlong opened #382 "Fix all missing boundaries in parks table where min_zoom_poly > 14"
We should find a time to look through the entire parks table to identify boundaries that don't show up in Park Tiles because their min_zoom_poly is greater than 14. There are a few cases in which we do this on purpose to never show a boundary, but there are plenty where it needs to be adjusted.

We should be able to to a clean sweep through the whole database to solve these. Technically, I can do

[2016-01-15 21:38] chadlawlis commented on #382
Sounds good, happy to help - I'll continue flagging issues as they emerge, otherwise let me know if you sit down for a database-wide sprint.

[2016-01-15 21:38] jimmyrocks commented on #382
We used to account for this by adding another layer that was park_poly > 14
with all the park boundaries that show up later included.

On Fri, Jan 15, 2016 at 4:35 PM, Taylor Long notifications@github.com
wrote:

[2016-01-15 22:02] mtaylorlong commented on #360
This is no longer necessary as we're going all in on the vector overlay approach.

However, for the sake of getting these columns in I'd like to rename that column in the NPS_Preset_Classes spreadsheet from `parkTilesSymbol` to `npmapSymbol` and populate it with all the appropriate icons we have available in NPMap Symbol Library. Then, we can use that spreadsheet to add an `npmapSymbol` column to

[2016-01-15 22:13] mtaylorlong commented on #361
No longer necessary due to the vector overlay approach (#380). If it's slowing down the rendering, you can remove it, but if not, it's no big deal to leave it there for now.

[2016-01-15 22:13] #361 closed

[2016-01-15 22:17] mtaylorlong commented on #302
Fixed this by updating it's min_zoom settings in the parks table.
![screen shot 2016-01-15 at 3 16 37 pm](https://cloud.githubusercontent.com/assets/4741443/12366847/090f672e-bb9b-11e5-91d8-7cd900d103f1.png)

[2016-01-15 22:17] #302 closed

[2016-01-15 22:19] mtaylorlong commented on #290
This is a worthwhile issue, but it's not going to be easily solved soon unless we decided to support our own state borders (which would no-doubt lead to other alignment issues with OSM data). I'm removing this issue from our Park Tiles 3.0.1 milestone so we can tackle it later.

[2016-01-15 22:23] mtaylorlong commented on #68
I'm closing this issue since it's also handled in #321.

[2016-01-15 22:23] #68 closed

[2016-01-15 22:23] mtaylorlong commented on #321
@mtaylorlong will tackle this in the parks database.

[2016-01-15 22:24] chadlawlis commented on #302
:+1:

[2016-01-15 22:25] mtaylorlong commented on #324
@cwlawlis802: Once this is set up in the parks table the way we want (all properly sub-united), I'll go into Park Tiles 3 and make sure it's rendering properly.

[2016-01-15 22:25] mtaylorlong commented on #327
We've decided to remove POI's entirely from Park Tiles, and instead offer a more customizable POI vector overlay solution. See issues #381 and #380.

[2016-01-15 22:25] #327 closed

[2016-01-15 22:27] mtaylorlong commented on #337
Seems to be working properly!

[2016-01-15 22:27] #337 closed

[2016-01-15 22:29] mtaylorlong commented on #351
This one's no longer a need for our mapbox tiles since we're handling it with POI vector overlay now. #380.

[2016-01-15 22:29] #351 closed

[2016-01-15 22:32] mtaylorlong commented on #339
It's been a month since I requested a better boundary from Jessica at EFMO. Still no reply. I'm emailing her again today.

[2016-01-15 22:35] mtaylorlong commented on #278
@jakecoolidge: If you think this issue won't be resolved soon, we can move it to the next release milestone (Park Tiles 3.0.2).

[2016-01-15 22:38] mtaylorlong commented on #355
This can be fixed by editing the FODA record in our parks table. We just need to set `ldir_enforce` to `true`. I'll do it next time I'm in the table, unless @cwlawlis802 can beat me to it. :wink:

[2016-01-15 22:40] mtaylorlong commented on #357
This is lower priority than other fixes for the 3.0.1 release, but if the tiles are ready, I think I can implement it with not much work. It would serve as a helpful example for how other line-oriented boundaries can be dealt-with similarly.

[2016-01-15 22:41] jakecoolidge commented on #290
Maybe we can support our own subset of state boundaries in the future when we implement areas of interest?

[2016-01-15 22:41] mtaylorlong commented on #360
I'm actually closing this one, because it's pretty specific, and I'm assuming it was already taken care of. I'll open a separate issue for getting the symbol names into a cartodb table.

[2016-01-15 22:41] #360 closed

[2016-01-15 22:44] mtaylorlong commented on #363
On it!

[2016-01-15 22:44] chadlawlis commented on #355
Done and done :heavy_check_mark:

[2016-01-15 22:44] #355 closed

[2016-01-15 22:44] jakecoolidge commented on #278
@mtaylorlong: sounds good. What's in there currently shouldn't hold up the 3.0.1 release.

[2016-01-15 22:45] mtaylorlong commented on #355
@cwlawlis802: You are a god among men.

[2016-01-15 22:46] mtaylorlong commented on #367
This one's another places table issue. I'm on it!

[2016-01-15 22:47] chadlawlis commented on #357
Updated `simp_type = 'line'` :heavy_check_mark:

I can try adding the `geom_line` now.

[2016-01-15 22:54] mtaylorlong commented on #356
This is another super-quick fix in the parks table. I'm going to tap Chad again on this since he's probably in the table as we speak. (It takes me like 5 minutes to remember how to log in).

@cwlawlis802: Will you change AMIS `ldir_enforce` to `true`? No rush.

[2016-01-15 22:56] chadlawlis commented on #356
Done.

[2016-01-15 22:56] #356 closed

[2016-01-15 22:59] mtaylorlong commented on #344
Looks like adding a surface of 'boardwalk' to my YELL data is successfully dumping this into our mapbox tiles as an attribute. So, it's working!

I'll keep this open as a reminder to recommend adding it to the presets spreadsheet next time that's up for review.

[2016-01-15 23:05] mtaylorlong commented on #336
Here's another one that I can handle after @cwlawlis802 sets these up as subunits in the parks table.

Chad: I'm assigning this to you. Once you've sub-united these parks, you can kick it back to me for the finishing touches.

[2016-01-15 23:07] mtaylorlong commented on #322
@cwlawlis802: Once you think this is straightened out in the parks table, I'll take another look in PT3.

[2016-01-15 23:08] chadlawlis commented on #357
Okay, `geom_line` has been added. Should be all set here.

[2016-01-15 23:08] #357 closed

[2016-01-15 23:12] mtaylorlong commented on #357
:+1: Now I just have to pay attention to next time @jimmyrocks updates the vector tiles and jump in after that.

[2016-01-15 23:17] mtaylorlong commented on #268
This one's all good!

[2016-01-15 23:17] #268 closed

[2016-01-15 23:25] mtaylorlong commented on #260
I've been thinking about this issue a bit...

It bothers me that we don't have a record of these historic trails in our parks table at all, simply because of these park tiles issues. I'd love to get these into our parks table as a line, make a dummy boundary for them if one truly does not exist, then only show the simplified line at small zoom levels, but NOT show the boundary at larger zoom level

[2016-01-15 23:27] mtaylorlong commented on #244
I'll need to double check the parks table to fix how we're handling this. The label also isn't showing up at zoom levels where there's plenty of space, so I'll need to do some min_zoom tweaking.

[2016-01-15 23:28] mtaylorlong commented on #232
This one's taken care of!

[2016-01-15 23:28] #232 closed

[2016-01-15 23:29] mtaylorlong commented on #231
@jakecoolidge: Has this issue been resolved?

[2016-01-15 23:32] mtaylorlong commented on #230
Still haven't resolved this one yet. Last time I looked, the issue was that I wasn't sure whether the polygon or the point was more correct.

@cwlawlis802: Can I add this to you list of things to check up on? If the boundary is correct, then we just need to move the point so that it falls within the boundary. Let me know if/when you've made the final call and I'll take a look at the min_zoom setti

[2016-01-15 23:36] mtaylorlong commented on #174
Whitman Mission's label appears at z7 now. There's room for it at z6, but I think it's okay to wait for one more click. :smiley_cat:

[2016-01-15 23:36] #174 closed

[2016-01-15 23:39] mtaylorlong commented on #119
@cwlawlis802: Is this worth revisiting? Do we have this correct in our parks table? Seems to still be labeling this way in PT3.

[2016-01-15 23:40] #115 closed

[2016-01-15 23:40] #116 closed

[2016-01-15 23:43] mtaylorlong commented on #85
@cwlawlis802: This is an old one, but it sounds like a candidate for setting up as a subunit.

[2016-01-15 23:45] mtaylorlong commented on #83
This issue seems to have resolved itself in the new parks table.

[2016-01-15 23:45] #83 closed

[2016-01-15 23:46] cwlawlis802 opened #383 "Add alternate unit code YONB for YORK"
HFC appears to use the unit code YOMB for YORK: http://www.nps.gov/hfc/carto/PDF/YONBmap1.pdf.

Adding to `alternate_unit_codes`.

[2016-01-15 23:47] chadlawlis commented on #383
[code]

[2016-01-15 23:48] mtaylorlong commented on #78
@cwlawlis802: This issue is still alive in the new parks table. Assigning it to you. No rush.

[2016-01-15 23:49] chadlawlis commented on #383
Oops, typo...

[code]

[2016-01-15 23:49] #383 closed

[2016-01-15 23:50] mtaylorlong commented on #48
I'm going to tackle this one finally, next time I get into the places table. I agree with the recommended primary placement that Mamata suggested.

Whether or not we could store a second point for the same unit code is an interesting thought experiment...
cc: @cwlawlis802.

[2016-01-15 23:50] chadlawlis commented on #336
Okay, JAME and YORK attribute data has been updated (`unit_name_short`, `unit_name_long`, `data_source`, and `subunit_of`).

Currently, COLO has a `geom_poly` but JAME and YORK do not. However, COLO's geometry includes them both. So, I will need to split out separate geometries for each JAME and YORK from COLO's current geometry, so we can search/zoom to these individual units and apply labels in

[2016-01-15 23:51] mtaylorlong commented on #47
I think we've solved this one, so I'm closing it.

[2016-01-15 23:51] #47 closed

[2016-01-15 23:54] mtaylorlong commented on #29
@cwlawlis802: Will you revisit this issue to double check that we have good boundaries for Nez Perce? This is one that I need to move the labeling point for.

Also, would you mind setting it's `ldir_enforce` to `true`? Just noticed it has a double label in PT3.

[2016-01-15 23:55] cwlawlis802 opened #384 "Create JAME and YORK boundaries from COLO geometry"
Separating out from https://github.com/nationalparkservice/places-data/issues/336#issuecomment-172128592.

COLO's current geometry includes both JAME and YORK, neither of which have their own `geom_poly` in `parks_poly`. So, I need to separate these out from the COLO geometry for PT3 search/landing extents and labels.

Maps from HFC to guide this:
http://www.nps.gov/hfc/carto/PDF/COLOmap1.pdf
http

[2016-01-15 23:55] mtaylorlong commented on #28
Just did a quick search in our geocoder, and it seems we still don't have a record for this park.

[2016-01-15 23:55] jakecoolidge commented on #231
It doesn't appear to have been resolved. I'm rendering it in the NPNH basemap with a custom data source, so I haven't been pushing on it. And now that I think of it, since it's not supported as a Places preset, I don't see this happening for a while. I'd be okay with closing this for the time being.

[2016-01-15 23:55] #231 closed

[2016-01-15 23:56] mtaylorlong commented on #25
Since this relates to OSM roads, I think it's no longer relevant. I'm closing this issue.

[2016-01-15 23:56] #25 closed

[2016-01-15 23:57] chadlawlis commented on #336
Not sure what else you're looking to do here @mtaylorlong - removing my assignment but will let you close when appropriate.

[2016-01-16 00:00] mtaylorlong commented on #336
:+1: As long as JAME and YORK have their own records (and more importantly, point geometries), then I'm good to go in PT3.

Do they have point geometries that fall within their individual polygons?

[2016-01-16 00:03] nateirwin commented on #231
Are you all ok with keeping this one open? I'd really like to add this as a preset. There are more airports in parks than you might think!

[2016-01-16 00:03] mtaylorlong opened #385 "FOUS Double Labeled in PT3"
Fort Union Trading Post (FOUS) is double labeled in PT3 and some zoom levels. We can fix this by setting `ldir_enforce` to `true`.

[2016-01-16 00:06] jakecoolidge commented on #231
Maybe the issue should be, "create a preset for runway polygons"? And we'll add it once we lift the freeze on new presets.

[2016-01-16 00:06] mtaylorlong opened #386 "THRO Label Move"
Theodore Roosevelt National Park is spit into two properties, so the label point sits in between them.

![screen shot 2016-01-15 at 5 05 56 pm](https://cloud.githubusercontent.com/assets/4741443/12368618/4704ea4a-bbaa-11e5-9250-3d1aa04ce069.png)

I want to move the point so it's over whichever part of the park is more 'primary' to the visitor experience (probably where a visitor center is).

[2016-01-16 00:06] jakecoolidge commented on #231
Oops. You basically said that already, @nateirwin.

[2016-01-16 00:07] chadlawlis commented on #336
They do not - I believe their `geom_point` was created by a `SELECT ST_Centroid(geom_poly) FROM parks_poly WHERE unit_code = 'colo'`. So, once individual geometries have been created via https://github.com/nationalparkservice/places-data/issues/384 I can run this function to pull from their unique geometries for unique label points. Or, we can drop points on top of them manually now and upload as

[2016-01-16 00:07] jakecoolidge opened #387 "add runways (polygons) as a preset"
Realized we're not going to get these rendered in our sources if it's not a preset first.

[2016-01-16 00:08] mtaylorlong commented on #336
I can wait. :smile:

[2016-01-16 00:08] jakecoolidge commented on #387
See [this issue](https://github.com/nationalparkservice/places-data/issues/231)

[2016-01-16 00:11] mtaylorlong opened #388 "Develop Park Tiles 3: Slate"
Once Park Tiles 3 is in good shape for release, I'll develop a Slate version so we can release them all at once.

[2016-01-16 00:12] mtaylorlong opened #389 "Develop Park Tiles 3: Imagery"
Once Park Tiles 3 is in good shape for release, I'll develop an Imagery version so we can release them all at once.

[2016-01-16 00:12] chadlawlis commented on #119
The NCR boundary replacement https://github.com/nationalparkservice/places-data/issues/347 will take care of this - we have a new boundary for OXHI, which will be labeled appropriately once implemented, and a more accurate boundary for GWMP.

Note that GWMP will not be labeled at all extents/zoom levels given it is a relatively larger area. As you have mentioned @mtaylorlong these larger areas wil

[2016-01-16 00:12] #119 closed

[2016-01-16 00:12] mtaylorlong opened #390 "Develop Park Tiles 3: Light"
Once Park Tiles 3 is in good shape for release, I'll develop a Light version so we can release them all at once. Light would be a new addition, so if I'm running out of time, I might put this off until after the public release of PT3.

[2016-01-16 00:21] chadlawlis commented on #230
Yup, the boundary appears correct: http://www.nps.gov/hfc/carto/PDF/JOFImap1.pdf.

The `geom_point` has been updated from JOFI's `geom_poly`:

[code]

So, this should be all set - the label should appear directly over the boundary now.

[2016-01-16 00:23] chadlawlis commented on #322
:+1:

Awaiting a response from Cynthia re: detailed units currently in Places/PT that are missing from her seed. Once I hear back I will implement and we can review all rendering decisions for PT3. Looking forward to crossing this off the list.

[2016-01-16 00:27] chadlawlis commented on #85
There is currently no geometry for this in `parks_poly`, though there is a point in `parks`.

Regardless, this was included in the NCR seed https://github.com/nationalparkservice/places-data/issues/347 as a standalone unit so this will be resolved once the update has been implemented.

[2016-01-16 00:27] #85 closed

[2016-01-16 00:29] chadlawlis commented on #78
Ya, this is a bit of a complicated one. Probably not going to address this any time soon, but will try to take a look once the higher priority boundary issues have been addressed (NCR, GOGA, NPNH, WSD_Parks to Lands, etc).

[2016-01-16 00:33] chadlawlis commented on #48
Shooting from the hip here, but we could probably add another label-only record to `parks` with the unit name and `geom_point` to add another label to a different location.

Not sure this is ideal, though - cc @jimmyrocks

[2016-01-16 00:41] chadlawlis commented on #29
These boundaries are identical to the latest Lands release - @heidiogle please send along screenshots/updated source if you're still seeing an issue here.

`ldir_enforce` has been set to `true` and `data_source` to `Land Resources Division` (previously `WSD_Parks`).

[2016-01-16 00:45] chadlawlis commented on #28
I will create a record for this in `places_boundaries`. Unfortunately we do not have a geometry on file, either does the latest Lands release.

@nateirwin let me know if you have a contact at the park - otherwise I can email Nigel @ NER (though her queue is getting quite large at this point).

[2016-01-16 00:49] chadlawlis commented on #28
Added to `parks`, `parks_poly` and `parks_line`:

[code]

[2016-01-16 00:51] chadlawlis commented on #385
Done.

[2016-01-16 00:51] #385 closed

[2016-01-16 00:54] chadlawlis commented on #386
There appear to be two visitor centers - one in each parcel:
http://www.nps.gov/hfc/carto/PDF/THROmap1.pdf
http://www.nps.gov/hfc/carto/PDF/THROmap2.pdf

Might be another multi-label park, if possible.

[2016-01-16 00:59] chadlawlis commented on #335
[code]

Revise this code to only create regional multipolygons for each region, rather than all units period.

Note: Mapbox does not currently render multipolygons correctly (splitting the inner boundary lines into small polygons), so @jimmyrocks will open a ticket with them to resolve this.

[2016-01-16 01:22] heidiogle commented on #29
This issue is now 9 months old so things may have changed since I first brought this up but here's a screen capture of one of the units along the Snake River.  It seems pretty evident to me that there is a boundary shift here.  I overlaid the Lands dataset @cwlawlis802 and yes, the error appears to be coming from that dataset.  So, I guess this is now an issue for Lands.  That said, Nez Perce isn'

[2016-01-16 01:38] chadlawlis commented on #29
Agreed on the boundary shift there, thanks for flagging.

Let us know if you ping PWR, otherwise we will. Hopefully the park/region has something with better alignment, otherwise we'll have to stick with Lands.

[2016-01-19 16:35] heidiogle commented on #29
I pinged Sandy at PWR.  Hopefully Roger knows about the issue and has plans to fix it in his Lands update.

[2016-01-19 16:40] mtaylorlong commented on #230
Great! I'm closing this one out.

[2016-01-19 16:40] #230 closed

[2016-01-19 16:41] jimmyrocks commented on #48
I think Chad's approach makes the most sense. I think this is how we do
ELIS and ALCA

On Fri, Jan 15, 2016 at 7:33 PM, Chad Lawlis notifications@github.com
wrote:

[2016-01-19 16:42] mtaylorlong commented on #78
Okay. I'm going to bump this into the next release milestone.

[2016-01-19 16:49] mtaylorlong commented on #386
Ah, tricky. I'm inclined to move the label to the southern unit for now. There are two visitor centers in the southern unit, and there seems to be more going on down there. I don't think this is a final solution though – I need to think of a way to label these disconnected parts without bulking up to code too much, but I think that will have to wait until the next release.

@cwlawlis802: Does this

[2016-01-19 16:59] mtaylorlong commented on #48
I think this makes sense. However, I think we need to be clear that this is different than how we handle subunits (like ELIS and ALCA). This approach would only apply to single units that have separated holdings that need to be independently labeled at higher zoom levels. In these cases, we will store an extra point record for the same unit. In some cases, we may even name this record slightly dif

[2016-01-19 17:09] chadlawlis commented on #29
Thanks @heidiogle.

[2016-01-19 17:13] nateirwin commented on #48
How would we handle this example: Petersburg National Battlefield is made up of three different distinct areas, all of which have their own names but really aren't sub-units:
- The Eastern Front
- The Western Front
- Grant's Headquarters at City Point

Currently the label displays in the middle of nowhere for the park. The primary area is the Eastern Front, but each of the other areas should be la

[2016-01-19 17:16] chadlawlis commented on #48
@mtaylorlong sounds good. Do you need anything from me to move forward with this?

@nateirwin this appears to be a similar issue. Sounds like we can add additional label-only records so that each parcel is assigned a label.

[2016-01-19 17:20] chadlawlis commented on #386
@mtaylorlong works for me. From our conversation here https://github.com/nationalparkservice/places-data/issues/48#issuecomment-172136417 we can probably add a label-only point for each parcel, but still TBD.

So, for this - would you like me to move the primary label point `geom_point` for THRO to the southern parcel? Or add a label-only record for it (maintaining the original `geom_point` as it

[2016-01-19 18:27] mtaylorlong commented on #386
@cwlawlis802: Let's move the current primary point to the southern unit. Then, since this one seems a bit more straightforward, let's add a new label secondary label point over the northern unit and I'll update the attributes.

[2016-01-19 18:52] chadlawlis commented on #157
Reopening - originally conflated the POIs with existing, instructed to wipe and replace instead.

[2016-01-19 18:57] cwlawlis802 opened #391 "DEWA "Joseph M. McDade Recreational Trail - Hiking, Biking, XC Skiing" label"
From Katherine @ DEWA, 11/30/15:

Shorten to "Joseph M. McDade Recreational Trail", "Joseph M. McDade Trail" or "McDade Trail" - the longest one that we can render in Park Tiles.

[2016-01-19 18:58] chadlawlis commented on #391
@mtaylorlong I can fix this in JOSM, just relying on you to know/figure out which label will successfully render.

[2016-01-19 19:05] mtaylorlong commented on #391
I haven't made this fix yet, because if they are having wipe out their places data to replace it with theirs, the change will have to happen in their data.

However, It's such a quick fix, that we should probably just make the change now. @cwlawlis802: It would be great if you could do it through JOSM. Let's try using "Joseph M. McDade Trail". Note that there are multiple line segments, so you'll

[2016-01-19 19:06] mtaylorlong commented on #48
I'm tempted to add "The Eastern Front', "The Western Front", and "Grant's Headquarters at City Point" as locales. However, it would be more consistent to add them as additional records in the points table.

The tricky part with this example is that if we create a record called "Petersburg - Western Front" then we'll look back at the main record and wonder why it's not called "Petersburg - Eastern

[2016-01-19 19:10] chadlawlis commented on #391
We're only altering the trail name - the geometry is already in place and should be accurate - so this doesn't require any further seeding/slashing and burning.

I'll update the trail name to "Joseph M. McDade Trail", accounting for (and merging, if appropriate) all trail segments, and we can go from there.

[2016-01-20 18:51] chadlawlis commented on #391
Okay, this should be all set.

I merged the connecting segments of the trail and renamed to "Joseph M. McDade Trail".

JOSM filters:
`type:node` [x] E [ ] I
`type:way` [x] E [x] I
`highway:path` [x] E [x] I
`name="Joseph M. McDade Trail"` [x] E [x] I

@mtaylorlong confirm that this name renders in PT3 once the tiles are regenerated.

[2016-01-20 18:55] chadlawlis commented on #157
Okay, this is all set.

Processed/finalized data stored [here](https://drive.google.com/drive/u/1/folders/0B9W-ykeuUrFGfmc3aEF5QlI2Y0FCNTNUVGFTbTlFaDc1TklRM1NsQ3FDT2U1dkpkbm93alE) as `dewa_poi_26918_seed.osm` (along with a shapefile copy `dewa_poi_26918_seed.shp`as well).

[2016-01-20 18:55] chadlawlis commented on #157
SQL used to process:

[code]

[2016-01-20 18:55] #157 closed

[2016-01-20 18:57] nateirwin commented on #48
Locales actually may be a good solution in this case, as the separate parcels aren't official subunits. Maybe I'll just go with that... should I add them to Places?

[2016-01-20 19:01] chadlawlis commented on #157
Filtered down to just POIs in JOSM using the following filters:
`type:node` [x] E [x] I
`"nps:unit_code"="dewa"` [x] E [x] I
`child (type:way)` [x] E [ ] I
`child (type:relation)` [x] E [ ] I

[2016-01-20 19:14] heidiogle commented on #29
FYI - This issue is being addressed by the Lands team in the FY16 work plan.  Roger is hoping to have it fixed in the March 2016 release.

[2016-01-20 19:27] chadlawlis commented on #29
Sounds good, thanks!

[2016-01-20 20:09] chadlawlis commented on #370
From Anthony @ MWR 1/20/16:

Used http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html to geocode this, searching the address then running `NPMap.config.L.getCenter();` in Chrome's console to get coordinates:

`{lat: 41.47369879064407, lng: -81.49133831262589}`

[2016-01-20 20:11] chadlawlis commented on #370
Updated via:

[code]

To confirm, ran:

[code]

which returned:

`"{"type":"Point","coordinates":[-81.4913383126259,41.4736987906441]}"`

:heavy_check_mark:

[2016-01-20 20:11] #370 closed

[2016-01-20 20:17] cwlawlis802 opened #392 "Populate carto fields for DABE"
Populated/corrected `geom_point`, which is all we'll have for a "boundary" (via https://github.com/nationalparkservice/places-data/issues/370).

@mtaylorlong can you populate the carto fields `min_zoom_label`, `min_zoom_label_long`, and `min_zoom_label_center` so a unit dot and label render in PT3?

[2016-01-20 20:22] chadlawlis commented on #48
@nateirwin locales seem to make sense for your example, given they are actual and distinct areas recognized by the park. I say go ahead and add to Places.

[2016-01-20 20:25] mtaylorlong commented on #48
Locales are certainly much easier to implement. I'll make sure that the locale labels have a touch of green to suggest their NPS-ness. If we want to be really clear that these units belong to the park, we can address that in the locale label. Example: "Short Park Name - Locale Name".

So let's add locale names for Petersburg.

[2016-01-20 20:28] chadlawlis commented on #48
@mtaylorlong if you can get me coordinates for the additional label-only records for WAPA I can add these to the Parks table. If you feel like going in and doing it all at once (including `min_zoom` fields), use this example query for populating the `geom_point`, using the appropriate (different) coordinates:

[code]

[2016-01-20 20:39] chadlawlis commented on #333
Okay, no longer on hold. From Anne, 1/14/16:

[2016-01-20 21:15] nateirwin commented on #48
Alright, locales added to PETE.

I'll stop hijacking the thread now.

[2016-01-20 22:01] mtaylorlong commented on #48
@cwlawlis802: Let's go with this.

lat: 13.388666
lon: 144.655149

[2016-01-21 22:33] cwlawlis802 opened #393 "GRPO "Mt. Rose Trail""
From Bill @ GRPO, 1/19/16:

He included two files, `Line_gen.shp` and `MtRoseTrail.shp`, which are housed on Drive [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbMEUzbWFlcU1LX0k). These are to be seeded together as "Mt. Rose Trail".

[2016-01-21 22:36] chadlawlis commented on #393
The `MtRoseTrail.shp` include benches and walls, which will be removed. It also includes stairs, which are to be maintained as `{"highway":"steps"}`.

[2016-01-21 22:51] chadlawlis commented on #393
Complete. View in Editor [here](http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=16.35/-89.68601/47.96167).

[2016-01-21 22:51] #393 closed

[2016-01-21 23:52] chadlawlis commented on #333
Wiped existing trail (Carbon River Road Trail) and replaced with this seed. Converted trail names from UPPERCASE to Proper Case. No `nps:source_system` or the like associated. Processed files also available [here](https://drive.google.com/drive/u/1/folders/0B0AXEdn7N9KbVFNFQkdCcVFBajg) (`mora_trails_processed.shp` and `mora_trails_processed.osm`).

Topologies (trail to trail, trail to road) will e

[2016-01-21 23:52] #333 closed

[2016-01-22 22:44] mtaylorlong opened #394 "POI Symbol Names in CartoDB"
The last big step to prepare for implementing a POI vector overlay for Park Tiles is getting symbol names into CartoDB. @jakecoolidge and I have added a selection of new symbols to npmap-symbol-library and @nateirwin is about to push a new release of NPMap.js that will include these symbols.

I've already added all the names we'll need in the NPS_Preset_Classes spreadsheet under the `npmapSymbol`

[2016-01-22 22:46] mtaylorlong commented on #394
@nateirwin: I'm thinking about our POI's with no assigned symbol. Do you think they should be `NULL` in cartodb, or should we assign them a symbol of `dot` to make the front-end code easier to write?

[2016-01-22 23:12] nateirwin commented on #394
I'd say let's leave them `null`. I can handle everything else on the frontend.

[2016-01-23 14:55] mtaylorlong opened #395 "Parks Table Points Moved to Oklahoma"
I pulled in park labeling points from our `parks` table last night, and the majority of parks seem to have been moved to one single location in Oklahoma. I could be messing something up, but I'm pretty sure I'm not. In any case, it shouldn't be too hard to get things back to normal. Let's tackle this on Monday.

cc: @cwlawlis802, @jimmyrocks

[2016-01-25 17:30] mtaylorlong commented on #394
Update for @jimmyrocks: Good news Jim - we've decided you don't need to write symbol names into CartoDB for now. For the initial release, we're going to create a json file to handle which POI presets translate to which symbol in our library. This will make it easier to make adjustments in the beginning, and to accommodate customization for parks in the future. We may, someday, try to write these i

[2016-01-25 17:30] #394 closed

[2016-01-25 19:35] chadlawlis commented on #395
@jimmyrocks did the digging here :+1:, discovering a command from `2016-01-13 16:43:12.349215-07`: `update parks set geom_point = (select wkb_geometry from okci)`.

Since then, the `geom_point` for only JOFI and DABE were updated. So, all other `geom_point` records were reverted to the transaction before `21829` (the OKCI command) via the following:

[code]

DABE (https://github.com/nationalparkse

[2016-01-25 19:36] jimmyrocks commented on #395
[code]

[2016-01-25 19:37] #395 closed

[2016-01-25 19:37] mtaylorlong commented on #395
Thanks guys!

[2016-01-25 22:25] mtaylorlong commented on #381
I have removed all POI's from PT3. I did leave a small subset of important POI's as invisible points to avoid labeling over them. POI's that will still be used to knock out labels in the basemap include:
- Visitor Center
- Ranger Station
- Lodging
- Campground
- Food Service
- Store
- Picnic Area

[2016-01-25 22:25] #381 closed

[2016-01-26 02:14] chadlawlis commented on #197
From Nigel @ NER, 1/15/16:

![frla](https://cloud.githubusercontent.com/assets/1238636/12570773/da0c88a8-c397-11e5-99ce-1b3d3ad6750b.png)

[2016-01-26 23:48] mtaylorlong commented on #353
I have demoted the applicable OSM place labels (hamlets, hoods, etc.) to the middle layer, so they will no longer show inside of park boundaries. I have replaced them (same text style) with localities from NPS Places. All POI's from the `locality` superclass will be labeled from zoom 13-17.

[2016-01-26 23:48] #353 closed

[2016-01-26 23:50] mtaylorlong commented on #365
<img width="487" alt="screen shot 2016-01-26 at 4 32 17 pm" src="https://cloud.githubusercontent.com/assets/4741443/12599154/dfe8360e-c44c-11e5-91e8-65a33061ceee.png">

[2016-01-26 23:50] mtaylorlong commented on #353
<img width="487" alt="screen shot 2016-01-26 at 4 32 17 pm" src="https://cloud.githubusercontent.com/assets/4741443/12599164/f5df343a-c44c-11e5-9379-061f25e922b4.png">

[2016-01-27 01:02] mtaylorlong commented on #365
Done! I've added railways using the same styling that Mamata applied to OSM railroads.

<img width="475" alt="screen shot 2016-01-26 at 5 16 28 pm" src="https://cloud.githubusercontent.com/assets/4741443/12600431/f101a54c-c456-11e5-88cd-b8d73ef5dcec.png">

[2016-01-27 01:02] #365 closed

[2016-01-27 01:35] mtaylorlong commented on #391
The Joseph M. McDade Trail label is rendering beautifully! Case closed!

<img width="588" alt="screen shot 2016-01-26 at 6 06 56 pm" src="https://cloud.githubusercontent.com/assets/4741443/12601072/7947868e-c45b-11e5-9fb8-a06a468167e2.png">

[2016-01-27 01:35] #391 closed

[2016-01-27 01:48] mtaylorlong commented on #276
The labeling issue with the Joseph McDade Trail has been resolved. @cwlawlis802 merged the trail lines and simplified the name. See Issue #391.

Customizing the scale dependency for trails isn't going to happen any time soon, but I believe the main impetus for this was solved with issue #391.

All the issues related to POI's can be resolved through the new POI overlay solution. The park will be ab

[2016-01-27 01:48] #276 closed

[2016-01-27 01:56] mtaylorlong commented on #266
I've resolved one of the above issues for the next update of PT3 Beta: OSM highway shield will no longer show up inside parks. My next goal is to implement our own highway shields for highways in NPS Places, but it might not happen in this release.

Many of the other issues discussed above can still be resolved by drawing in the missing road segments that fall within park boundaries. Basically, if

[2016-01-27 19:02] mtaylorlong commented on #250
I decided that this issue has more to do with the rounded line-cap setting on the park roads. I changed the display of park roads so that they cut off more abruptly at the end, without the casing rounding the tip. Visually, I think this helps the roads look like they stop right at the park border.

I did consider moving the park border lines over the roads in the layer stack, but roads that run al

[2016-01-27 19:02] #250 closed

[2016-01-27 19:35] mtaylorlong opened #396 "Manzanar NHS Label Rendering Issue"
The label for Manzanar NHS has been giving me trouble. It was duplicating itself at zoom 7, despite the fact that it should have been hard-coded with a NE label at that scale. Looking into the problem, I noticed that it's `ldir` switched at different zoom levels. At z7, it was `N`, then at z8, it was `NE`.

I'm guessing this discrepancy in introduced somewhere in the rendering. According to the `p

[2016-01-27 19:35] #396 closed

[2016-01-27 21:34] mtaylorlong commented on #382
I've updated the `parks` table by pushing all the min_zoom settings >14 back to 14. This is essentially the same thing as including an additional layer with all the parks included.

So, the helpful change is that all the park boundaries will be available for display. The scary change is that some very small parks will turn into polygons with full names at z14, which may cause some new collisions.

[2016-01-27 21:34] #382 closed

[2016-01-27 21:51] mtaylorlong commented on #377
Here are the settings I used:
- `min_zoom_label`: 7 (plenty of space in OK)
- `min_zoom_label_long`: 14 (last chance for a long label)
- `min_zoom_label_center`: 100 (it will always be labeled as a point)

[2016-01-27 21:53] mtaylorlong commented on #377
@cwlawlis802: I see the record for this site in my QGIS table, but I don't see the point on the map. It seems like it doesn't yet have a valid point geometry. Will you check up on this before we close out this ticket?

[2016-01-27 21:56] mtaylorlong commented on #367
I've fixed this issue by setting all min_zoom attributes to 14.

[2016-01-27 21:57] mtaylorlong commented on #363
I have resolved this by resetting it's min_zoom settings to 14.

[2016-01-27 21:57] #363 closed

[2016-01-27 23:16] mtaylorlong commented on #324
The label "Fredericksburg & Spotsylvania" will display now – I've reset the min_zoom settings to 14.

We still haven't acted on the subunit issue, so I'll keep this issue open but push it to 3.0.2. I'm assigning it to @cwlawlis802 to take it up once we hear back from the park.

[2016-01-27 23:29] mtaylorlong commented on #321
I have updated the min_zoom settings for OBED to 14. This should fix these issues.

[2016-01-27 23:29] #321 closed

[2016-01-28 00:14] mtaylorlong commented on #256
I have moved the point for this park south over the main boundary parcel. I've determined that this is the main area because it's the only one that's presented on the HFC map:

<img width="874" alt="screen shot 2016-01-27 at 5 03 06 pm" src="https://cloud.githubusercontent.com/assets/4741443/12632846/665ab89e-c518-11e5-9304-8e23079596c2.png">

Here's our boundary in PT3:

<img width="843" alt="scr

[2016-01-28 02:52] cwlawlis802 opened #397 "Remove barrier=gate from GRTE roads"
Many of GRTE's roads include the tag `{"barrier":"gate"}`, which ultimately spits the segments out as `superclass=barrier` and `class=gate`. This is not the appropriate use of the `{"barrier":"gate"}` tag (it should be added as a vertex or a way intersecting another way at the location of the actual gate) and breaks road segments when rendering in Park Tiles.

So, I am removing the `{"barrier":"ga

[2016-01-28 03:02] chadlawlis commented on #397
Done.

[2016-01-28 03:02] #397 closed

[2016-01-28 03:18] mtaylorlong opened #398 "Invalid Point Geometries"
I've come up with a list of records in the `parks` table that don't seem to have valid point geometries. Some of these have reasons for not existing (no polygons), so can have points even without polygons, and some have just gone missing.

@cwlawlis802: Will you take a look at these?

**Units with invalid point geometries:**

unit_code | unit_name_short | unit_desig_abbr
--- | --- | ---
mapr | Man

[2016-01-28 03:24] mtaylorlong commented on #244
Fixed this. It should read correctly on the next boundaries update.

[2016-01-28 03:24] #244 closed

[2016-01-28 03:32] mtaylorlong commented on #95
I've looked into this for the latest PT3 update, and we seem to be missing our record of this park in our `parks` table. Looking at our geocoder it seems we might still have the polygon.

@cwlawlis802: Will you restore this record in the main `parks` table and assign a point with the centroid? Let me know here when it's done and I'll set the min_zoom settings.

[2016-01-28 03:35] mtaylorlong commented on #48
@cwlawlis802: I just looked into this issue to check it off my list, and I couldn't find the point in QGIS. It seems like it might be an invalid geometry. I think this is included in the general issue #398.

[2016-01-28 03:50] mtaylorlong commented on #23
I've got in and checked these settings. They should be all set now. Alcatraz should show up starting at z11.

[2016-01-28 03:50] #23 closed

[2016-01-28 03:53] mtaylorlong commented on #277
I still haven't brought this up with BLRI. I'm waiting until I hear from Nate that we're moving forward with BLRI Live stuff we owe them. I think we know what we need to do, we just need to show be able to show them.

[2016-01-28 03:59] mtaylorlong commented on #87
@cwlawlis802: This one relates so closely to all the boundary work you're doing in NACA that I'm going to wait and got through these when we've gotten all that sorted out. I'm guessing your work may resolve some of these issues.

[2016-01-28 04:05] mtaylorlong commented on #352
I still think the `ref` approach is the most feasible near-term option. I don't think @jimmyrocks has added this in the places lines vector tiles yet, so I'm putting this one off into the next milestone.

@jimmyrocks: When you're ready, will you take anything in the `ref` tag and add it to our tiles as `route-number`? Once I have an example there, I can get some simple NPS-ish looking shields up a

[2016-01-28 16:24] nateirwin commented on #398
We don't have geometries for NSTs, NHTs, NHAs, and NHCs.

[2016-01-28 16:24] nateirwin commented on #397
Yep, sorry about this. I think I messed this up when I did the initial load of GRTE's roads into Places.

[2016-01-28 17:40] chadlawlis commented on #397
No worries!

[2016-01-28 21:34] mtaylorlong commented on #380
Update: The new symbols have been added to our symbol library and rolled into NPMap.js. So we're ready to demo POI overlay.

[2016-01-28 22:08] mtaylorlong commented on #380
## Wireframes for POI Overlay Viewer

What follows is a rough mock-up of how the POI overlay would be implemented in a public-facing map. I'm calling this the POI Overlay _Viewer_ to distinguish it from the _Editor_ that parks can use to customize their list. We can tackle the viewer first, then move on to the editor.

**Overview:**
Vector POI's are clickable, so adding a legend isn't necessarily

[2016-01-28 22:21] mtaylorlong opened #399 "Some buildings missing from vector tiles"
@nateirwin Just noticed that some (not all) buildings are missing in the latest update of PT3. I looked at the vector tiles in studio, and the missing buildings are indeed missing from the tiles. The peculiar thing is that some buildings are in the tiles, and some aren't. I have confirmed that the missing buildings are still showing up in Editor, so the issue is somewhere in the tile creation.

**

[2016-01-28 22:55] chadlawlis commented on #380
At first glance I like this. I think a legend would be helpful to complete the "Viewer" experience.

Design-wise, I might make one change - cutting the height of the sidebar down, responsive to the number of rows listed:

![ce1a6426-c5d0-11e5-955f-a042d808877a](https://cloud.githubusercontent.com/assets/1238636/12661541/6bbed40e-c5d7-11e5-87aa-05fb3044c2a7.jpg)

I might also make this semi-transpa

[2016-01-28 23:56] mtaylorlong commented on #380
@cwlawlis802: Cutting down the height and making the left panel transparent would be cool. I'm assuming Nate will want to rely on some of the existing modules in npmap.js, so maybe those items can be put on the wish list.

Nate and I discussed this a bit more and clarified a few points:

**What shows up in the side-bar**:
I wondered about including in the left panel all the POI types within view,

[2016-01-29 17:06] nateirwin commented on #324
In case this info is helpful: FRSP's boundary is still not rendering in the latest PT3.

[2016-01-29 19:45] chadlawlis commented on #243
`geom_point` is now missing. Need to repopulate with [this point](https://drive.google.com/drive/u/0/folders/0B0AXEdn7N9KbSE55SHh3cHBqM1U).

[2016-01-29 20:18] chadlawlis commented on #243
Okay, this should be all set.

[2016-01-29 20:18] #243 closed

[2016-01-29 20:29] cwlawlis802 opened #400 "Add alternate_unit_code YONB for YORK"
When searching for "Colonial National Historical Park" this search result appears (via DuckDuckGo):

![part of colonial national historical park at duckduckgo 2016-01-29 13-27-15](https://cloud.githubusercontent.com/assets/1238636/12687305/37636b24-c68c-11e5-97f7-f808e86cb94c.jpg)

So, YONB appears to be an alternate unit code for YORK - adding this to the table.

[2016-01-29 20:31] chadlawlis commented on #400
Oops, already in there...

[2016-01-29 20:31] #400 closed

[2016-01-29 21:24] chadlawlis commented on #48
WAPA's `geom_poly` is a valid MULTIPOLYGON in 3857 - updated the `geom_point` via

[code]

Centroid is all set. We will need to manually create custom label points to address the label per area issue from above.

[2016-01-29 21:25] nateirwin opened #401 "Building entrance/exit points going out to CartoDB as `type=building`"
http://insidemaps.nps.gov/places/editor/#background=mapbox-satellite&map=21.18/-110.71530/43.66022
http://localhost:1945/park-tiles-3/#19/43.66063/-110.71585
https://nps.cartodb.com/api/v2/sql?q=SELECT%20*%20FROM%20points_of_interest%20WHERE%20cartodb_id=4767370

[2016-01-29 21:55] frogmapr opened #402 "ParkTiles 3 Submit Feedback Button"
When I click the submit feedback button on the [park tiles three basemap](http://insidemaps.nps.gov/park-tiles-3/#16/44.3851/-110.5530) It tries to open up MS outlook on my PC and so I'm not able to email any feedback as I don't have MS Outlook.

Hope this helps!

Neal

[2016-01-29 22:19] cwlawlis802 opened #403 "Missing PINE geometry"
http://www.nps.gov/pine/index.htm

Currently a record in places_boundaries, lacking geometry. Not currently available in Lands,

[2016-01-29 22:32] chadlawlis commented on #398
| unit_code | unit_name_short | unit_desig_abbr | status |
| --- | --- | --- | --- |
| mapr | Manhattan Project | NHP | missing geom https://github.com/nationalparkservice/places-data/issues/179 |
| okci | Oklahoma City | N MEM | :heavy_check_mark: https://github.com/nationalparkservice/places-data/issues/243 |
| loea | Lower East Side Tenement Museum | NHS | missing geom https://github.com/nation

[2016-01-29 22:35] chadlawlis commented on #398
So, the majority of these will come once we tackle National Trails.

Otherwise, numerous emails have been sent for the other missing units (not National Trails) to the appropriate regional POCs. There is generally little traction for these right now, so they may have to wait for Lands. We could probably insert a point label by finding the park on the map, if we really wanted a filler in the mean t

[2016-01-29 22:36] chadlawlis commented on #398
@mtaylorlong feel free to close this or keep open - I'm all set with tracking these individually on my end.

[2016-01-29 22:39] cwlawlis802 opened #404 "Add POHE geometry"
Potomac Heritage National Scenic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 22:40] mtaylorlong commented on #398
Nice work @cwlawlis802 going through this list! Since you're tracking these individually, I'll close this issue.

[2016-01-29 22:40] #398 closed

[2016-01-29 22:43] cwlawlis802 opened #405 "Add LECL geometry"
Lewis & Clark National Historic Trail

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 22:52] nateirwin commented on #402
Hi Neal,

Sounds like you have Outlook setup as your default email program. If you update that setting, you should be good to go.

[2016-01-29 22:52] #402 closed

[2016-01-29 22:58] cwlawlis802 opened #406 "Add MOPI geometry"
Mormon Pioneer National Historic Trail

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:02] cwlawlis802 opened #407 "Add NOCO geometry"
North Country National Scenic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:02] cwlawlis802 opened #408 "Add OREG geometry"
Oregon National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:03] cwlawlis802 opened #409 "Add OVVI geometry"
Overmountain Victory National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:04] cwlawlis802 opened #410 "Add SAFE geometry"
Santa Fe National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:04] cwlawlis802 opened #411 "Add SEMO geometry"
Selma to Montgomery National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:05] cwlawlis802 opened #412 "Add SEMO geometry"
Selma to Montgomery National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:06] chadlawlis commented on #412
Ah, creating issues too fast for github - this is a duplicate, original here https://github.com/nationalparkservice/places-data/issues/411.

[2016-01-29 23:06] #412 closed

[2016-01-29 23:07] cwlawlis802 opened #413 "Add TRTE geometry"
Trail of Tears National Historic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:07] cwlawlis802 opened #414 "Add BLAC geometry"
Blackstone River Valley National Heritage Corridor.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:08] cwlawlis802 opened #415 "Add NATT geometry"
Natchez Trace National Scenic Trail.

Has record in parks table, missing geometry. Up until now we have not been populating geometries for National Trails.

[2016-01-29 23:10] frogmapr commented on #402
Yep that was it!

Thanks :D

[2016-01-29 23:22] cwlawlis802 commented on #378
I'm removing my assignment from these "missing boundary" issues in an effort to clean out my list of issues assigned to me. The standalone ALCA boundary will be generated with the GOGA update.

[2016-01-29 23:23] chadlawlis commented on #377
This should be all set via https://github.com/nationalparkservice/places-data/issues/243#issuecomment-176951631.

[2016-01-29 23:23] #377 closed

[2016-01-30 00:00] chadlawlis commented on #347
Add KEAQ into the mix, as well https://github.com/nationalparkservice/places-data/issues/95.

[2016-01-30 00:05] chadlawlis commented on #95
Yup, this somehow disappeared from the parks table on the server but remained in the CartoDB parks table. So, I exported the geometry and re-inserted the record with geometry back into the parks table on the server, along with parks_poly and parks_line.

I set the min_zoom_poly = 17, as it was in CartoDB. Feel free to tweak @mtaylorlong. All other carto fields need to be populated as well.

[2016-01-30 00:24] chadlawlis commented on #204
I pinged Nigel @ NER about this on 1/13/16 to no response.

I can't seem to find anything online indicating the actual boundary of this unit - Lands does not have a boundary either - so I am going to close this for now.

[2016-01-30 00:24] #204 closed

[2016-01-30 00:40] chadlawlis commented on #48
I set the primary label point over the area to the north, per https://github.com/nationalparkservice/places-data/issues/48#issuecomment-151633293:

[code]

[2016-01-30 00:43] chadlawlis commented on #48
I can also set another point over the area to the south, using the coordinates @mtaylorlong provided:

[code]

but I will have to insert this as a new record. @jimmyrocks @mtaylorlong should I replicate all existing attributes for WAPA into a new record with a new unit_id? We should think this through a little more before inserting label-only records, to make sure everything links up appropriately

[2016-01-30 00:58] chadlawlis commented on #386
Okay, I moved the primary label point over the southern area:

[code]

Similar to https://github.com/nationalparkservice/places-data/issues/48#issuecomment-177032909 we (@jimmyrocks @mtaylorlong) should iron out exactly how we want to handle adding label-only records to the parks table.

For the secondary, northern label-point, when we're ready:

[code]

[2016-02-01 15:50] mtaylorlong commented on #399
Jim rendered tiles again last week to try to resolve our missing buildings issue, but as of Monday morning, we're still missing buildings from the tiles, including the Snow Lodge in YELL (example above).

@jimmyrocks: Do you think this is happening on the Mapbox side? Any further ideas? I'd love to get this solved asap. A few missing buildings in one spot means there could be much more going unnot

[2016-02-01 16:34] jimmyrocks commented on #399
I can run it again an see if that fixes it, but we may need to open a
support ticket with mapbox

On Mon, Feb 1, 2016 at 10:50 AM, Taylor Long notifications@github.com
wrote:

[2016-02-01 17:50] mtaylorlong commented on #399
We're going to send a support email to Mapbox. I'm including another screenshot below that shows the vector tile view from inside Mapbox Studio Classic:

![screen shot 2016-02-01 at 10 43 39 am](https://cloud.githubusercontent.com/assets/4741443/12725731/5922e662-c8d1-11e5-97d3-d755d5c95e94.png)

There's a lot to look at here since the OSM data is showing up underneath, but the NPS building data i

[2016-02-01 18:02] mtaylorlong commented on #399
Other relevant details:
- Location where this Snow Lodge issue is visible: [http://insidemaps.nps.gov/park-tiles-3/#18/44.45670/-110.82842](http://insidemaps.nps.gov/park-tiles-3/#18/44.45670/-110.82842)
- Data Source (Vector Tiles): **Places: Automated Data** `nps.nps-places-data` [link](https://www.mapbox.com/studio/data/nps.nps-places-data/)
- Data source is comprised of three subsets:
  - `nps

[2016-02-01 23:06] cwlawlis802 opened #416 "Adding label-only records to `parks` table"
The consensus here (between @jimmyrocks, @mtaylorlong, and I) is to add each label-only record with a new `unit_id`, while setting `data_source = 'Label-only` as means of tracking these (and probably filtering them out of the publicly available boundary download down the road).

The following fields will be left NULL, to be referenced in the record with the `unit_id` linked to the unit's geometry

[2016-02-01 23:06] chadlawlis commented on #416
Created this for reference, closing.

[2016-02-01 23:06] #416 closed

[2016-02-01 23:09] chadlawlis commented on #48
See context for decisions here https://github.com/nationalparkservice/places-data/issues/416.

Southern label-only point added via:

[code]

[2016-02-01 23:10] chadlawlis commented on #48
Okay @mtaylorlong, handing off for carto field population. `unit_id = '464'`.

[2016-02-01 23:14] chadlawlis commented on #386
See context for decisions here https://github.com/nationalparkservice/places-data/issues/416.

Northern label-only point added via:

[code]

[2016-02-01 23:15] chadlawlis commented on #386
Okay @mtaylorlong, handing off for carto field population. `unit_id = '465`.

[2016-02-01 23:43] chadlawlis commented on #416
This has been documented in full in our boundaries README here https://github.com/nationalparkservice/npmap-scratch/tree/master/database/boundaries#adding-a-label-only-record.

[2016-02-01 23:54] chadlawlis commented on #28
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided: http://www.nps.gov/loea/contacts.htm

103 Orchard Street
New York, NY 10002

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/extent, providing:

`L.LatLng {lat: 4

[2016-02-01 23:58] chadlawlis commented on #178
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided: http://www.nps.gov/hatu/contacts.htm

2145 Key Wallace Drive
Cambridge, MD 21613

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/extent, providing:

`L.LatLng {l

[2016-02-02 00:04] chadlawlis commented on #234
Pinged Angie and Regan about this again today.

[2016-02-02 00:05] chadlawlis commented on #236
Emailed Angie and Regan about this on 1/13/16 and again today.

[2016-02-02 00:12] chadlawlis commented on #364
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided: http://www.nps.gov/glec/contacts.htm

7300 MacArthur Boulevard
Glen Echo, MD 20812

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/extent, providing:

`L.LatLng

[2016-02-02 00:17] chadlawlis commented on #371
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided: http://www.nps.gov/clmo/contacts.htm

6310 Georgetown Pike
McLean, VA 22101

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/extent, providing:

`L.LatLng {lat: 3

[2016-02-02 01:54] chadlawlis commented on #373
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided (on the Canadian side): http://www.nps.gov/roca/contacts.htm

459 Route 774
Welshpool, New Brunswick
E5E 1A4

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/exten

[2016-02-02 01:56] chadlawlis commented on #374
So, thanks to the NPMap.js' geocoder we can add a point for this based on the NPS.gov address provided: http://www.nps.gov/tosy/contacts.htm

85 Touro Street
Newport, RI 02840

Hopped into http://www.nps.gov/lib/npmap.js/3.0.7/examples/geocoder-control.html, searched for the address, and ran `NPMap.config.L.getCenter();` in Chrome's console at landing zoom/extent, providing:

`L.LatLng {lat: 41.48

[2016-02-02 17:05] mtaylorlong commented on #392
I set `min_zoom_label` to 9 so it comes in just after its surrounding parks.

[2016-02-02 17:05] #392 closed

[2016-02-02 17:52] chadlawlis commented on #28
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 17:57] chadlawlis commented on #386
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 17:58] chadlawlis commented on #371
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 18:00] chadlawlis commented on #364
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 18:01] chadlawlis commented on #178
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 18:02] chadlawlis commented on #373
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]

[2016-02-02 18:03] chadlawlis commented on #374
@mtaylorlong pointed out that the `geom_point` is showing up on Null Island.

We realized that when adding these coordinates we need to do so in 4326, then convert to 3857. I also realized that `ST_GeomFromText()` requires lon lat, not lat lon. So, to fix:

[code]